<!doctype html>
<html>
<% include header%>
<body class="brandeditpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/brand/brandindex">Brand</a></li>
                <li class="breadcrumb-item active">Create Brand</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
                <% Brands.forEach(function(brand){ %>
                <form action="/admin/brand/brandedit" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                    <div class="row">
                        <input type="hidden" name="id" id="frm-brandid" value="<%=brand.id%>" required/>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <select name="category_id" class="form-control" id="frm-category" placeholder="Category" required onchange="dynamicFlavourDropdown(this.value)">
                                    <option value="">Select Category</option>
                                    <% Categories.forEach(function(category){ %>
                                        <option value="<%= category.id %>" <%= (brand.category_id == category.id) ? "selected" : ""%> ><%= category.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" value="<%=brand.name%>" required placeholder="Brand Name">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <select name="flavours_id" class="form-control" id="frm-flavours" placeholder="Flavors" multiple="true">
                                    <option value="">Select Flavors</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <button type="submit" class="btn btn-success">Update Brand</button>
                        </div>
                    </div>
                </form>
                <% }); %>
          </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function() {
        var brand_id = $("input#frm-brandid").val();
        $.ajax({
            url: "/api/master/getbrandselectedflavours",
            method : "post",
            data : {"brand_id":brand_id}, 
            success: function(result){
                if(result.status == 1){
                    $("select#frm-flavours").html(result.data);
                }
            }
        });
    });
    
    </script>
