<!doctype html>
<html>
<% include header%>
<body class="categoryeditpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/category/categoryindex">Category</a></li>
                <li class="breadcrumb-item active">Update Category</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
            <% Categories.forEach(function(category){ %>
                <form action="/admin/category/categoryedit" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                    <div class="row">
                        <input type="hidden" name="id" value="<%=category.id%>" required>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" value="<%=category.name%>" required placeholder="Category Name">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="up-img">
                                <span>Upload Photo</span>
                                <input id="upload-input" class="upfile" type="file" name="photo" accept="image/jpg">
                                <img src="/category/<%=category.photo%>" width="120"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <button type="submit" class="btn btn-success">Update Category</button>
                        </div>
                    </div>
                </form>
                <% }); %>
            </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>