<!doctype html>
<html>
<% include header%>
<body class="cmseditpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/cms/cmsindex">Content Management</a></li>
                <li class="breadcrumb-item active">Update Content</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
                <form action="/admin/cms/cmsedit" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                    <div class="row">
                        <input type="hidden" name="id" value="<%= cms.id %>" required>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="title" value="<%= (cms.title) ? cms.title : "" %>" required placeholder="CMS Title" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <textarea rows="6" name="content" class="form-control" required placeholder="CMS Content"><%= (cms.content) ? cms.content : "" %></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>

<script>
    CKEDITOR.replace( 'content' );
</script>

</body>
</html>
