<!doctype html>
<html>
<% include header%>
<body class="couponindexpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
    <div class="container-fluid">
        <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
            <% include menu%>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
            <div class="top_header">View Content Management</div>
            <div class="table-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:12%">Title</th>
                                <th>Content</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% if(CMS.length > 0){ %>
                            <% CMS.forEach(function(data){ %>
                                <tr>
                                    <td><%= data.title %></td>
                                    <td><%- data.content.substring(0, 50) %>...</td>
                                    <td>
                                        <a href="/admin/cms/cmsedit?id=<%=data.id%>" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            <% }); %>
                        <% }else{ %>
                            <tr>
                                <td colspan="3">No data found</td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% if (pageCount > 1) { %>
                <ul class="pagination">
                    <% if (currentPage > 1) { %>
                    <li><a href="?page=1">&laquo;</a></li>
                    <% } %>
                    <% var i = 1;
                    if (currentPage > 5) {
                    i = +currentPage - 4;
                    } %>
                    <% if (i !== 1) { %>
                    <li class="disabled"><a href="#">...</a></li>
                    <% } %>
                    <% for (i; i<=pageCount; i++) { %>
                    <% if (currentPage == i) { %>
                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                        <li><a href="?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled"><a href="#">...</a></li>
                    <% break; } %>
                    <% } %>
                    <% if (currentPage != pageCount) { %>
                    <li><a href="?page=<%= pageCount %>">&raquo;</a></li>
                    <% } %>
                </ul>
            <% } %>
            </div>
        </div>
    </div>
</div>
<% include footer%>
</body>
</html>
