<!doctype html>
<html>
<% include header%>
<body class="couponindexpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
      <div class="top_header"><a class="common_button" href="/admin/coupon/couponcreate"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Coupon</a></div>
        <div class="table-box">
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Percentage(%)</th>
                        <th>Discount($)</th>
                        <th>Min. Amount</th>
                        <th>Min. Products in cart</th>
                        <th>From Date</th>
                        <th>Expiry Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                <% if(Coupons.length > 0){ %>
                    <% Coupons.forEach(function(data){ %>
                        <tr>
                            <td><%= data.code %></td>
                            <td><%= data.description %></td>
                            <td><%= data.type %></td>
                            <td><%= (data.percentage) ? data.percentage : 0 %></td>
                            <td><%= (data.discount) ? data.discount : 0 %></td>
                            <td><%= data.min_amount %></td>
                            <td><%= data.min_product %></td>
                            <td><% vardate1 = new Date(data.start_date); %><%= vardate1.formatDate(); %></td>
                            <td><% vardate2 = new Date(data.expiry_date); %><%= vardate2.formatDate(); %></td>
                            <td>
                                <a class="<% if(data.status == 1){ %>text-success<% }else{ %>text-danger<% } %>" onclick="couponActivedeactive('<%=data.id%>', '<%= (data.status == 0) ? 1 : 0%>')"><i class="fa <% if(data.status == 1){ %>fa-eye<% }else{ %>fa-eye-slash<% } %>"></i></a>
                                <a onclick="coupondelete('<%= data.id %>')"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                <% }else{ %>
                    <tr>
                        <td colspan="10">no data found</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            </div>
        </div>
        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li><a href="?page=1">&laquo;</a></li>
                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                <% if (currentPage == i) { %>
                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                <% } else { %>
                    <li><a href="?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == (+currentPage + 4)) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                <li><a href="?page=<%= pageCount %>">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>
<script>
function couponActivedeactive(id, status){
    $.ajax({
        url: "/admin/coupon/activedeactive",
        method : "post",
        data : {"id":id, "status":status}, 
        success: function(result){
            if(result.status == 1){
                window.location.reload();
            }
        }
    });
}
function coupondelete(id){
    if( confirm("Are you sure want to delete?")){
        $.ajax({
            url: "/admin/coupon/coupondelete",
            method : "post",
            data : {"id":id}, 
            success: function(result){
                if(result.status == 1){
                    window.location.reload();
                }
            }
        });
    }   
}
</script>