<!doctype html>
<html>
<% include header%>
<body class="couponcreatepage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/coupon/couponindex">Coupons</a></li>
                <li class="breadcrumb-item active">Create Coupon</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
            <form action="/admin/coupon/couponcreate" method="post" role="form" data-toggle="validator" autocomplete="off">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" pattern="[A-Z]{1,15}" maxlength="15" class="form-control" name="code" required placeholder="Coupon Code">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <select name="type" class="form-control" id="frm-type" placeholder="Coupon Type" required onchange="dynamicChange(this.value)">
                                <option value="">Select Type</option>
                                <option value="1">Flat Discount</option>
                                <option value="2">Percentage</option>
                            </select>
                        </div>
                    </div>

                    
                        <div class="col-xs-12 col-sm-6" id = 'hidePer'>
                            <div class="form-group" class="btn btn-success">
                                <input type="number" min="0" class="form-control" name="percentage" max="100" required placeholder="Percentage">
                            </div>
                        </div>
                       

                    <div class="col-xs-12 col-sm-6" id = 'hideDic'>
                        <div class="form-group">
                            <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" name="discount" required placeholder="Discount">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" name="min_amount" required placeholder="Min. Amount">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" class="form-control" name="min_product" required placeholder="Min. Products">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group form-row">
                            <input type="text" class="form-control" name="start_date" id="start-date" required placeholder="From Date">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group form-row">
                            <input type="text" class="form-control" name="expiry_date" id="expiry-date" required placeholder="Expiry Date">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" name="description" required placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <button type="submit" class="btn btn-success">Create Coupon</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>
<script type="text/javascript">
$(function () {
    var dateToday = new Date();
    $('#start-date').datepicker({
        dateFormat: "yy-mm-dd",
        changeYear: true,
        minDate: dateToday,
    }).bind("change",function(){
        var minValue = $(this).val();
        minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
        minValue.setDate(minValue.getDate()+1);
        $("#expiry-date").datepicker( "option", "minDate", minValue );
    });
    $('#expiry-date').datepicker({
        dateFormat: "yy-mm-dd",
        changeYear: true,
        minDate: dateToday,
    });
    $('select[name="type"]').on('change', function(){
        if(this.value != '2'){
            $('#hidePer').css('display','none');
            $('#hideDic').css('display','block');
        }
        else {
            $('#hideDic').css('display','none');
            $('#hidePer').css('display','block');
        }
    })

});
</script>