<!doctype html>
<html>
<% include header%>
<body class="delpriceupdatepage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/deliveryprice/deliverypriceindex">Delivery Management</a></li>
                <li class="breadcrumb-item active">Update Delivery Price</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
                <% deliveryPrices.forEach(function(deliveryprice){ %>
                <form action="/admin/deliveryprice/deliverypriceupdate" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                    <div class="row">
                        <input type="hidden" name="id" value="<%=deliveryprice.id%>" required>
                        <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" class="form-control" name="no_of_bottles" value="<%=deliveryprice.no_of_bottles%>" required placeholder="Number of bottles" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" name="min_amount" value="<%=deliveryprice.min_amount%>" required placeholder="Minimum amount" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" max="100" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" name="tax" value="<%=deliveryprice.tax%>" required placeholder="Tax" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" max="100" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" name="miles" value="<%=deliveryprice.miles%>" required placeholder="Per Miles" />
                        </div>
                    </div>
                    <input type="hidden" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" name="miles" value="<%=deliveryprice.miles%>" required placeholder="Miles" />
                        <div class="col-xs-12 col-sm-12">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
                <% }); %>
          </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>