<!doctype html>
<html>
<% include header%>
<body class="delteamindexpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header"><a class="common_button" href="/admin/delteam/delteamcreate"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add delteam</a></div>
        <div class="table-box">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Profile Photo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              <% if(Delteams.length > 0){ %>
                <% Delteams.forEach(function(data){ %>
                  <tr>
                    <td><%= data.first_name %> <%= data.last_name %></td>
                    <td><%= data.email %></td>
                    <td><%= data.phone %></td>
                    <td><img src="/delteam/<%= data.profile_photo %>" width="120"/></td>
                    <td><a class="<% if(data.status == 1){ %>text-success<% }else{ %>text-danger<% } %>" onclick="delteamActivedeactive('<%=data.id%>', '<%= (data.status == 0) ? 1 : 0%>')"><i class="fa <% if(data.status == 1){ %>fa-eye<% }else{ %>fa-eye-slash<% } %>"></i></a> <a href="/admin/delteam/delteamedit?id=<%=data.id%>"><i class="fa fa-pencil"></i></a> <a onclick="delteamdelete('<%= data.id %>')"><i class="fa fa-trash-o"></i></a></td>
                  </tr>
                <% }); %>
              <% }else{ %>
                  <tr>
                      <td colspan="5">no data found</td>
                  </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li><a href="?page=1">&laquo;</a></li>
                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                <% if (currentPage == i) { %>
                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                <% } else { %>
                    <li><a href="?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == (+currentPage + 4)) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                <li><a href="?page=<%= pageCount %>">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>
<script>
function delteamActivedeactive(id, status){
    $.ajax({
        url: "/admin/delteam/activedeactive",
        method : "post",
        data : {"id":id, "status":status}, 
        success: function(result){
            if(result.status == 1){
                window.location.reload();
            }
        }
    });
}
function delteamdelete(id){
    if( confirm("Are you sure want to delete?")){
        $.ajax({
            url: "/admin/delteam/delteamdelete",
            method : "post",
            data : {"id":id}, 
            success: function(result){
                if(result.status == 1){
                    window.location.reload();
                }
            }
        });
    }   
}
</script>