<!doctype html>
<html>
<% include header%>
<body class="delteameditpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
    <div class="container-fluid">
        <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
            <% include menu%>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
            <div class="top_header">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/delteam/delteamindex">Members</a></li>
                    <li class="breadcrumb-item active">Edit Delivery team member</li>
                </ol>
            </div>
            <div class="main_cms">
                <div class="create_cms">
                    <form action="/admin/delteam/delteamedit" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                        <div class="row">
                            <% Delteams.forEach(function(delteam){ %>
                                <input type="hidden" name="id" value="<%=delteam.id%>" required>
                                
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="first_name" value="<%=delteam.first_name%>" required placeholder="First Name">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="last_name" value="<%=delteam.last_name%>" required placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" value="<%=delteam.email%>" required placeholder="Email">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="phone" max="15" value="<%=delteam.phone%>" required placeholder="Phone Number">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="up-img">
                                        <span>Upload File</span>
                                        <input id="upload-input" class="upfile" type="file" name="profile_photo" accept="image/jpg">
                                        <img src="/delteam/<%=delteam.profile_photo%>" width="120" />
                                    </div>
                                </div>

                            <% }); %>
                            <div class="col-xs-12 col-sm-12">
                                <button type="submit" class="btn btn-success">Update Member</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer%>
</body>
</html>
