<html>

<head>
    <title> Edit Profile </title>
</head>

<body>
    <form action="/customer/updateProfile" method="post">
        <table>
            <% data.forEach(function (item) { %>
            <tr>
                <td> User Name : </td>
                <td> <input type="text" name="username" value="<%=item.username%>"> </td>
            </tr>

            <tr>
                <td> First Name : </td>
                <td> <input type="text" name="firstname" value="<%=item.first_name%>"> </td>
            </tr>

            <tr>
                <td> Last Name : </td>
                <td> <input type="text" name="lastname" value="<%=item.last_name%>"> </td>
            </tr>

            <tr>
                <td> Email Id : </td>
                <td> <input type="email" name="email" value="<%=item.email%>" readonly> </td>
            </tr>

            <tr>
                <td> Phone Number : </td>
                <td> <input type="text" name="phone_number" value="<%=item.phone%>"> </td>
            </tr>

            <tr>
                <td> <input type="submit" value="Edit Profile"> </td>
            </tr>
            <% }) %>
        </table>
    </form>
</body>

</html>