<!doctype html>
<html>
<% include header%>
<body class="flavoureditpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/flavour/flavourindex">Flavor</a></li>
                <li class="breadcrumb-item active">Update Flavor</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
            <% Flavours.forEach(function(flavour){ %>
                <form action="/admin/flavour/flavouredit" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                    <div class="row">
                        <input type="hidden" name="id" value="<%=flavour.id%>" required>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" value="<%=flavour.name%>" required placeholder="Flavor">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <button type="submit" class="btn btn-success">Update Flavor</button>
                        </div>
                    </div>
                </form>
                <% }); %>
            </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>
