<!-- JQuery -->
<script type="text/javascript" src="/javascript/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/javascript/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascript/jquery-ui.js"></script>
<script type="text/javascript" src="/javascript/popper.min.js"></script>
<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/javascript/mdb.min.js"></script>
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script type="text/javascript" src="/javascript/jquery.tagsinput.min.js"></script>
<script src="/javascript/moment.js"></script>
<!-- <script src="/javascript/jquery.datetimepicker.js"></script> -->
<script src="/javascript/bootstrap-datetimepicker.js"></script>
<%
//To format date in Y-m-d 
Date.prototype.formatDate = function() {
    var date = new Date(this.valueOf()),
        month = '' + (date.getMonth() + 1),
        day = '' + date.getDate(),
        year = date.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}
%>
