<!doctype html>
<html>
<% include header%>
    <body class="loginpage">
        <div id="wapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <br>
                        <br>
                        <br>
                        <section class="form-dark">
                            <div class="card card-image" style="background-size: 100% auto;">
                                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4"> 

                                    <h1><img src="/images/boozer_logo.png" width="120" /></h1>
                                    <br>
                                    <br>
                                    <% console.log("Message"+message); if (typeof (message) != "undefined" && message.length > 0) { %>
                                    <div class="alert alert-danger">
                                        <%= message %>
                                    </div>
                                    <% } %>
                                    <form action="/admin/forgotpassword" method="post" role="form" data-toggle="validator" autocomplete="off">
                                        <div class="form-group">
                                            <input type="email" class="form-control ic_login" name="email" required placeholder="Email" />
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light">Submit</button>
                                    </form>
                                    <br>
                                    <p class="center-text"><a href="/admin/login">Back to Login</a></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<% include footer%>
</html>
