<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href='/images/favicon.png' type="image/x-con" />
    
    <title>Brewzer</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/public/font/glyphicon/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link href="/stylesheet/mdb.min.css" rel="stylesheet" type="text/css">
    <!-- Your custom styles (optional) -->
    <link href="/stylesheet/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheet/jquery.tagsinput.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i,900" rel="stylesheet">
    <!-- <link href="/stylesheet/jquery.datetimepicker.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="/stylesheet/bootstrap-datetimepicker-build.css" type="text/css">
</head>