<!doctype html>
<html>
    <% include header%>
    <body class="homepage">
        <div id="wapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <br>
                        <section class="form-dark">
                            <div class="card card-image" style="background-image:url(/images/bg.jpg);  background-size: 100% auto;">
                                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4"> 
                                    <h1><img src="images/boozer_logo.png"/> <br>Brewzer</h1>
                                    <!-- <p>Login</p> -->
                                    <br><br>
                                    <a href="/login" style="width: auto;" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light">
                                    <span class="fa fa-user"></span> &nbsp;&nbsp;Login</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <% include footer%>
    </body>
</html>
