<!doctype html>
<html>
<% include header%>
    <body class="loginpage">
        <div id="wapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <br>
                        <br>
                        <section class="form-dark">
                            <div class="card card-image" style="background-size: 100% auto;">
                            <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4"> 

                                <h1><img src="/images/boozer_logo.png" class="img-responsive"/></h1>
                                <br>
                                <br>
                                
                                <% if (typeof (message) != "undefined" && message.length > 0) { %>
                                    <div class="alert alert-danger">
                                        <%= message %>
                                    </div>
                                    <% } %>
                                        <!-- LOGIN FORM -->
                                        <form action="/admin/login" method="post" role="form" data-toggle="validator" autocomplete="off">
                                            <div class="form-group">
                                                <input type="email" class="form-control ic_login" name="email" required placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control ic_pass" name="password" required placeholder="*******">
                                            </div>

                                            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light">Login</button>
                                        </form>
                                        <br>
                                        <p class="center-text"><a href="/admin/forgotpassword"> Forgot Password ?</a></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<% include footer%>
</html>