<div class="page-header text-center">
    <div class="hmenu">
        <ul>
            <li><a href="/admin/user/userindex"><i class="fa fa-user" aria-hidden="true"></i> Users</a></li>
            <li><a href="/admin/product/productindex"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Products</a></li>
            <li><a href="/admin/category/categoryindex"><i class="fa fa-list" aria-hidden="true"></i> Categories</a></li>
            <li><a href="/admin/subcategory/subcategoryindex"> <i class="fa fa-list" aria-hidden="true"></i> Sub Categories</a></li>
            <li><a href="/admin/brand/brandindex"> <i class="fa fa-list" aria-hidden="true"></i> Brands</a></li>
            <li><a href="/admin/flavour/flavourindex"> <i class="fa fa-list" aria-hidden="true"></i> Flavors</a></li>
            <li><a href="/admin/coupon/couponindex"><i class="fa fa-gift" aria-hidden="true"></i> Coupons</a></li>
            <li><a href="/admin/order/orderindex"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Orders</a></li>
            <li><a href="/admin/delteam/delteamindex"><i class="fa fa-users" aria-hidden="true"></i> Delivery Team Members</a></li>
            <li><a href="/admin/cms/cmsindex"><i class="fa fa-file" aria-hidden="true"></i> Content Management</a></li>
            <li><a href="/admin/deliveryprice/deliverypriceindex"><i class="fa fa-file" aria-hidden="true"></i> Delivery Management</a></li>
            <li><a href="/admin/notification/send"><i class="fa fa-bell" aria-hidden="true"></i> Send Notification</a></li>
            <li><a href="/admin/report/order"><i class="fa fa-list" aria-hidden="true"></i> Order Report</a></li>
            <li><a href="/admin/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout <em class="fa fa-angle-left" aria-hidden="true"></em></a></li>
        </ul>
    </div>
</div>
