<!doctype html>
<html>
<% include header%>
<body class="productindexpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
                <% include menu%>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
                <div class="top_header">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Send Notification</li>
                    </ol>
                </div>
                <% if ( typeof(message)!='undefined' && message.length>0) { %>
                    <div class="alert alert-warning">
                        <div class="flash">
                            <%= message %>
                        </div>
                    </div>
                <% } %>
                <div class="main_cms">
                    <div class="create_cms">
                        <form action="/admin/notification/send" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="title">Message
                                            <span class="req">*</span>
                                        </label>
                                        <textarea class="form-control" name="message" required placeholder="Enter message here"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="up-img">Upload File
                                            <span class="req"></span>
                                        </label>
                                        <input id="upload-input" class="upfile" type="file" name="ad_photo" accept="image/*">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <button type="submit" class="btn btn-success">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer%>
</body>
</html>