<!doctype html>
<html>
<% include header%>
<body class="orderindexpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
      <div class="top_header">Order Report</div>
      <div id="item-filter" class="form-group item_filter">
            <form method="GET" action="/admin/report/order" role="form" id="filter-form">
                <input type="hidden" name="page" id="filter-page" class="filter_page" value="1" />
                <!-- <div class="row"> -->
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search (Customer Name, Delivered By)" type="text" name="keyword" value="<%= (queryParams.keyword) ? queryParams.keyword : '' %>">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="From Price" name="from_price" value="<%= (queryParams.from_price) ? queryParams.from_price : '' %>">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="To Price" name="to_price" value="<%= (queryParams.to_price) ? queryParams.to_price : '' %>">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <input class="form-control" id="frm-from_date" placeholder="From Date" type="text" name="from_date" value="<%= (queryParams.from_date) ? queryParams.from_date : '' %>">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <input class="form-control" id="frm-to_date" placeholder="To Date" type="text" name="to_date" value="<%= (queryParams.to_date) ? queryParams.to_date : '' %>">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <select name="order_status" class="form-control" id="frm-order_status" placeholder="Order Status">
                                <option value="">Select Order Status</option>
                                <% var order_status = params.ORDER_STATUS;
                                for(var os in order_status){ %>
                                    <option value="<%= os %>" <%= (os == queryParams.order_status) ? "selected" : "" %> <%= (os <= queryParams.order_status) ? "disabled" : "" %> ><%= order_status[os] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label>Sort By: </label>
                            <% var Sortarray = {};
                                Sortarray["id"] = "Order #";
                                Sortarray["first_name"] = "Customer Name";
                                Sortarray["dt_first_name"] = "Delivery By";
                                Sortarray["total"] = "Total Price";
                                Sortarray["created_date"] = "Order Date";
                            %>
                            <select class="form-control" name="sort">
                                <option value="">Select</option>
                                <% for (var key in Sortarray) { %>
                                    <option value="<%= key %>" <%= (queryParams && queryParams.sort == key) ? "selected" : "" %> ><%= Sortarray[key] %></option>
                                <% } %>
                            </select>
                            <select class="form-control" name="sort_by">
                                <option value="DESC" <%= (queryParams && queryParams.sort_by == "DESC") ? "selected" : "" %> >Descending</option>
                                <option value="ASC" <%= (queryParams && queryParams.sort_by == "ASC") ? "selected" : "" %> >Ascending</option>
                            </select>
                        </div>
                    </div>
                <!-- </div> -->
                <input type="submit" name="filter" class="btn btn-success" value="Filter" />
                <a href="/admin/report/order" class="btn btn-success">Reset</a>
            </form>
        </div>
        <div class="table-box">
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Order By</th>
                        <th>Coupon Code</th>
                        <th>Discount ($)</th>
                        <th>Total Amount ($)</th>
                        <th>Delivered By</th>
                        <th>Rating</th>
                        <th>Order Status</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                <% if(Orders.length > 0){ %>
                    <% Orders.forEach(function(data){ %>
                        <tr>
                            <td><%= data.id %></td>
                            <td><%= data.first_name %></td>
                            <td><%= (data.coupon_id) ? data.coupon_code : "-" %></td>
                            <td><%= (data.discount) ? data.discount : 0 %></td>
                            <td><%= data.total %></td>
                            <td><%= (data.dt_first_name) ? data.dt_first_name : "" %> <%= (data.dt_last_name) ? data.dt_last_name : "(Not Assigned)" %></td>
                            <td><%= (data.rating) ? data.rating : "-" %> / 5</td>
                            <td><%= params.ORDER_STATUS[data.order_status] %></td>
                            <td><% vardate1 = new Date(data.created_date); %><%= vardate1.formatDate(); %></td>
                        </tr>
                    <% }); %>
                <% }else{ %>
                    <tr>
                        <td colspan="9">no data found</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            </div>
        </div>
        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li><a href="?page=1">&laquo;</a></li>
                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                <% if (currentPage == i) { %>
                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                <% } else { %>
                    <li><a href="?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == (+currentPage + 4)) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                <li><a href="?page=<%= pageCount %>">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>
<script>
$(function () {
    var defaultDatefrom = new Date($('#frm-from_date').val());
    $('#frm-from_date').datepicker({
        dateFormat: "yy-mm-dd",
        changeYear: true,
        defaultDate: defaultDatefrom,
        onClose: function() {
            $("#frm-to_date").datepicker(
                    "change",
                    { minDate: new Date($('#frm-from_date').val()) }
            );
        }
        //maxDate: "0d",
    });

    var defaultDateto = new Date($('#frm-to_date').val());
    $('#frm-to_date').datepicker({
        dateFormat: "yy-mm-dd",
        changeYear: true,
        defaultDate: defaultDateto,
        onClose: function() {
            $("#frm-from_date").datepicker(
                    "change",
                    { maxDate: new Date($('#frm-to_date').val()) }
            );
        }
        //maxDate: "0d",
    });
});
</script>
