<form action='/admin/order/change-orderstatus' id="orderstatus-form" method="post" role="form" data-toggle="validator" autocomplete="off">
    <div class="row">
        <input type="hidden" class="form-control" id="frm-order_id" name="order_id" value="<%= Orders[0].id %>" required>
        <!-- <input type="hidden" class="form-control" id="frm-estimated_time" name="estimated_time" required> -->
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <select name="order_status" class="form-control" id="frm-order_status" placeholder="Order Status" required>
                    <option value="">Select Order Status</option>
                    <% var order_status = params.ORDER_STATUS;
                    for(var os in order_status){ %>
                        <option value="<%= os %>" <%= (os == Orders[0].order_status) ? "selected" : "" %> <%= (os <= Orders[0].order_status) ? "disabled" : "" %> ><%= order_status[os] %></option>
                    <% } %>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 del_team" id="del-team">
            <div class="form-group">
                <select name="delivery_by" class="form-control" id="frm-delivery_by" placeholder="Delivery member" required>
                    <option value="">Select Delivery team member</option>
                    <% Delteams.forEach(function(member){ %>
                        <option value="<%= member.id %>"><%= member.first_name %></option>
                    <% }); %>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 estimated_datetime input-group date" id="estimated-datetime">
            <!-- <div class="form-group date">
                <input type="text" name="estimated_time" class="form-control estimated_time" id="" placeholder="Estimated Time" value="<%= Orders[0].estimated_time %>" required/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>  
            </div> -->
                <!-- <input type="text" name="estimated_time" class="form-control estimated_time" id="dp0"  placeholder="Estimated Time" required/> -->
              
                    <!-- <label for="regular1" class="control-label">Select Date and Time</label>
                    <input type="text" data-datepicker-popup="true" data-datepicker="datepicker-popup-inline" class="form-control" data-target="#datepicker-dialog" data-toggle="modal" />
                 -->
                 <input type='text' class="form-control" id='frm-estimated_time' />
              
                
                <!-- Dialog Simple datepicker-->
               
        </div>

        <div class="col-xs-12 col-sm-12">
            <button type="submit" class="btn btn-success" id="submit-form" onclick="return formsubmittochangestatus();">Change Status</button>
        </div>
    </div>
</form>
<script>
$(function () {
    var defaultDate = new Date($('#frm-estimated_time').val());
    // $('#frm-estimated_time').datetimepicker({
    //          inline:true,
    //         // dateFormat: "dd M, yy",
    //         // changeYear: true,
    //         // defaultDate: defaultDate,
    //         // minDate: "0d",
    //     });


        // $('#datetimepicker1').on('blur', function(e) {
		// 		if($('#orderstatusModal').hasClass('show') == true) {
        //      e.preventDefault();
        //        }
        //         });
        
        // $('#frm-estimated_time').datetimepicker({
        //     format: 'dd M, yy HH:mm',
        //     minView: 2,
        //     inline: true,
        //     changeYear: true,
        //     autoclose: true,
        //     endDate: new Date()
        // });

      
                $('#frm-estimated_time').datetimepicker();
         
});

$("#frm-order_status").on('change',function(event){
    if($(this).val() == 3){
        $("#del-team").show();
        $("#frm-delivery_by").attr('required','required');
        $("#frm-delivery_by").show();

        $("#estimated-datetime").show();
        $("#frm-estimated_time").attr('required','required');
        $("#frm-estimated_time").show();

    } else {
        $("#del-team").hide();
        $("#frm-delivery_by").removeAttr('required');
        $("#frm-delivery_by").hide();

        $("#estimated-datetime").hide();
        $("#frm-estimated_time").removeAttr('required');
        $("#frm-estimated_time").hide();
    }
});

function formsubmittochangestatus(){
    var frm = $('#orderstatus-form');
    frm.submit(function(e){
        e.preventDefault();
        var order_id = $("#frm-order_id").val();
        var order_status = $("#frm-order_status").val();
        var delivery_by = $("#frm-delivery_by").val();
        var estimated_time = $("#frm-estimated_time").val();
        
        var frmdata = {};
        frmdata.order_id = order_id;
        frmdata.order_status = order_status;
        frmdata.delivery_by = delivery_by;
        frmdata.estimated_time = estimated_time;

        $.ajax({
            type: 'post',
            url: frm.attr('action'),
            data: frmdata,
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                alert('An error occurred.');
            },
        });
    });
}
</script>
        
