<!doctype html>
<html>
<% include header%>
<body class="orderindexpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
      <div class="top_header">View Orders</div>
        <div class="table-box">
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>User Name</th>
                        <th>Age</th>
                        <th>Country code</th>
                        <th>Order By</th>
                        <th>Products</th>
                        <th>Coupon Code</th>
                        <th>Discount ($)</th>
                        <th>Total Amount ($)</th>
                        <th>Order Status</th>
                        <th>Date</th>
                        <th>Order Address</th>
                        <th>Change Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                <% if(Orders.length > 0){ %>
                    <% Orders.forEach(function(data){ %>
                        <tr>
                            <td><%= data.id %></td>
                            <td><%= data.username %></td>
                            <td><%= data.age %></td>
                            <td><%= data.country_code %></td>
                            <td><%= data.contactno %></td>
                            <td>
                                <% var prod_details = JSON.parse(data.product_detail) %>
                                <% prod_details.forEach(function(detail){ %>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="<%= detail.image %>" width="50"/>
                                    </div>
                                    <div class="col-sm-10">
                                        <b><%= detail.product_name %></b><br />
                                        <%= detail.category_name %> - <%= detail.quantity %> Qty. - $<%= detail.price %>
                                    </div>
                                </div>
                                <% }); %>
                            </td>
                            <td><%= (data.coupon_id) ? data.coupon_code : "-" %></td>
                            <td><%= (data.discount) ? data.discount : 0 %></td>
                            <td><%= data.total %></td>
                            <td><%= params.ORDER_STATUS[data.order_status] %></td>
                            <td><% vardate1 = new Date(data.created_date); %><%= vardate1.formatDate(); %></td>
                            <td> <%= data.address1 %> , <%= data.address2 %> <% if (data.address2) { %> , <% } %> <%= data.state_name %> , <%= data.city_name %> <% data.country_name%> </td>
                            <td><% var notshow = [2,4,5]; if(!notshow.includes(data.order_status)){ %><a class="btn btn-default" onclick="return openstatusmodal('<%= data.id %>', 1);">Change Status</a><% }else{ %> <%= params.ORDER_STATUS[data.order_status] %> <% } %></td>
                            <td>
                                <a class="<% if(data.status == 1){ %>text-success<% }else{ %>text-danger<% } %>" onclick="orderActivedeactive('<%=data.id%>', '<%= (data.status == 0) ? 1 : 0%>')"><i class="fa <% if(data.status == 1){ %>fa-eye<% }else{ %>fa-eye-slash<% } %>"></i></a>
                                <a onclick="orderdelete('<%= data.id %>')"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                <% }else{ %>
                    <tr>
                        <td colspan="9">no data found</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            </div>
        </div>
        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li><a href="?page=1">&laquo;</a></li>
                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                <% if (currentPage == i) { %>
                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                <% } else { %>
                    <li><a href="?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == (+currentPage + 4)) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                <li><a href="?page=<%= pageCount %>">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% include footer%>
<!-- Modal -->
<div class="modal fade" id="orderstatusModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Order Status</h4>
            </div>
            <div class="modal-body order_status_div">
            
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
$("#frm-order_status").on('change',function(event){
    //alert("ORDER STATUS"+$(this).val());
    if($(this).val() == 3){
        $("#del-team").show();
        $("#frm-delivery_by").prop('required',true);
        $("#estimated-datetime").show();
        $("#frm-estimated_time").prop('required',true);
    } else {
        $("#del-team").hide();
        $("#frm-delivery_by").prop('required',false);
        $("#estimated-datetime").hide();
        $("#frm-estimated_time").prop('required',false);
    }
});

function openstatusmodal(id,is_modal){
    $.ajax({
        type: "GET",
        url: "/admin/order/orderstatus?id="+id,
    }).done(function(data) {
        // Now open the modal!
        $("#orderstatusModal").modal("show");
        // If you used 'res.json' then you can use yourData here
        $(".order_status_div").html(data);

        if($("#frm-order_status").val() == 3){
            $("#del-team").show();
            $("#frm-delivery_by").prop('required',true);
            $("#estimated-datetime").show();
            $("#frm-estimated_time").prop('required',true);
        } else {
            $("#del-team").hide();
            $("#frm-delivery_by").prop('required',false);
            $("#estimated-datetime").hide();
            $("#frm-estimated_time").prop('required',false);
        }
        return false;
    });
}

function orderActivedeactive(id, status){
    $.ajax({
        url: "/admin/order/activedeactive",
        method : "post",
        data : {"id":id, "status":status}, 
        success: function(result){
            if(result.status == 1){
                window.location.reload();
            }
        }
    });
}
function orderdelete(id){
    if( confirm("Are you sure want to delete?")){
        $.ajax({
            url: "/admin/order/orderdelete",
            method : "post",
            data : {"id":id}, 
            success: function(result){
                if(result.status == 1){
                    window.location.reload();
                }
            }
        });
    }   
}
</script>
