<!doctype html>
<html>
<% include header%>
<body class="productcreatepage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/product/productindex">Products</a></li>
                <li class="breadcrumb-item active">Create Product</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
            <form action="/admin/product/productcreate" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" class="form-control" name="name" required placeholder="Product Name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea rows="3" cols="6" class="form-control" name="description" required placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" name="price" required placeholder="Price">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group tags">
                            <label for="zipcode">Zipcode</label>
                            <input type="text" class="form-control zipcode" id="zipcode" name="zipcode" required placeholder="Zipcode" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category_id" class="form-control" id="frm-categories" placeholder="Category" required onchange="dynamicDropdown(this.value, 'sub_categories')">
                                <option value="">Select Category</option>
                                <% Categories.forEach(function(category){ %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="sub_category">Sub Category</label>
                            <select name="subcategory_id" class="form-control" id="frm-sub_categories" placeholder="Sub Category" required>
                                <option value="">Select Sub-Category</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="brands">Brands</label>
                            <select name="brand_id" class="form-control" id="frm-brands" placeholder="Brands" required onchange="dynamicFlavourDropdown(this.value)">
                                <option value="">Select Brands</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="flavours">Flavours</label>
                            <select name="flavours_id" class="form-control" id="frm-flavours" placeholder="Flavours" multiple="true">
                                <option value="">Select Flavors</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="up-img">
                            <span>Upload Image</span>
                            <input id="upload-input" class="upfile" type="file" name="image" accept="image/jpg">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <button type="submit" class="btn btn-success">Create Product</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>
<script type="text/javascript">
function dynamicDropdown(id, table){
    $.ajax({
        url: "/admin/user/getdynamicdropdown",
        method : "post",
        data : {"id":id, "table":table}, 
        success: function(result){
            if(result.status == 1){
                $("select#frm-"+table+"").html(result.data);
            }
        }
    });

    $.ajax({
        url: "/admin/user/getdynamicdropdown",
        method : "post",
        data : {"id":id, "table":"brands"}, 
        success: function(result){
            if(result.status == 1){
                $("select#frm-brands").html(result.data);
            }
        }
    });
}
function dynamicFlavourDropdown(id, table){
    var category_id = $("#frm-categories option:selected").val();
    $.ajax({
        url: "/api/master/getflavours",
        method : "post",
        data : {"brand_id":id, "category_id":category_id}, 
        success: function(result){
            if(result.status == 1){
                $("select#frm-flavours").html(result.data);
            }
        }
    });
}

$('.zipcode').tagsinput({
    allowDuplicates: false
});
</script>