<!doctype html>
<html>
<% include header%>
    <script type="text/javascript">
        var elem = document.createElement("img");
        elem.setAttribute("src", "images/hydrangeas.jpg");
        elem.setAttribute("height", "768");
        elem.setAttribute("width", "1024");
        elem.setAttribute("alt", "Flower");
        document.getElementById("showimage").appendChild(elem);
    </script>

    <body class="productpage">
        <% include menu%>
        <div class="container">
            <div class="row">
                <form class="upload-image" enctype="multipart/form-data" action="/image/upload" method="post">
                    <div class="up-img">
                    <span>Upload File</span>
                    <input id="upload-input" class="upfile" type="file" name="uploads" multiple="multiple" accept="image/jpg">
                    </div>
                    <br>
                    <input type="submit" value="Upload Image" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light" name="submit" />
                </form>
            </div>

            <div class="row">
            <div class="table-box">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Product Name</th>
                        <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%Products.forEach(function(data){%>
                            <tr>
                                <td>
                                    <%=data.product_name%>
                                </td>
                                <td>
                                    <a href="/image/delete/?id=<%=data.id%>">delete</a>
                                </td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
               
            </div>
        </div>
        <% include footer%>
    </body>
</html>