<!doctype html>
<html>
<% include header%>
    <body class="resetpasspage">
        <div id="wapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <br>
                        <br>
                        <br>
                        <section class="form-dark">
                            <div class="card card-image" style="background-size: 100% auto;">
                                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4"> 

                                    <h1><img src="/images/boozer_logo.png" class="img-responsive"/></h1>
                                    <br>
                                    <br>
                                    <% if (typeof (message) != "undefined" && message.length > 0) { %>
                                    <div class="alert alert-danger">
                                        <%= message %>
                                    </div>
                                    <% } %>
                                    <form action="/admin/resetpassword" method="post" role="form" data-toggle="validator" autocomplete="off">
                                        <div class="form-group">
                                            <input type="password" class="form-control ic_pass" name="newpassword" required="true" placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control ic_pass"  name="confirmpassword" required="true" placeholder="Confirm Password">
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light">Reset Password</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<% include footer%>
</html>