<!doctype html>
<html>
<% include header%>
<body class="subcatcreatepage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/subcategory/subcategoryindex">Sub Category</a></li>
                <li class="breadcrumb-item active">Create Sub-Category</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
            <form action="/admin/subcategory/subcategorycreate" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <select name="category_id" class="form-control" id="frm-category" placeholder="Category" required>
                                <option value="">Select Category</option>
                                <% Categories.forEach(function(category){ %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" required placeholder="Sub-Category Name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <button type="submit" class="btn btn-success">Create Sub-Category</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>