<!doctype html>
<html>
<% include header%>
<body class="subcateditpage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/subcategory/subcategoryindex">Sub Category</a></li>
                <li class="breadcrumb-item active">Create Sub-Category</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
                <% Subcategories.forEach(function(subcategory){ %>
                <form action="/admin/subcategory/subcategoryedit" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                    <div class="row">
                        <input type="hidden" name="id" value="<%=subcategory.id%>" required>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <select name="category_id" class="form-control" id="frm-category" placeholder="Category" required>
                                    <option value="">Select Category</option>
                                    <% Categories.forEach(function(category){ %>
                                        <option value="<%= category.id %>" <%= (subcategory.category_id == category.id) ? "selected" : ""%> ><%= category.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" value="<%=subcategory.name%>" required placeholder="Sub-Category Name">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <button type="submit" class="btn btn-success">Update Sub-Category</button>
                        </div>
                    </div>
                </form>
                <% }); %>
          </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>