<!doctype html>
<html>
<% include header%>
<body class="usercreatepage">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="logo"><img src="/images/boozer_logo.png" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 back">
        <% include menu%>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <div class="top_header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/user/userindex">Users</a></li>
                <li class="breadcrumb-item active">Create User</li>
            </ol>
        </div>
        <div class="main_cms">
          <div class="create_cms">
            <form action="/admin/user/usercreate" enctype="multipart/form-data" method="post" role="form" data-toggle="validator" autocomplete="off">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="first_name">Name</label>
                            <input type="text" class="form-control" name="first_name" required placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" required placeholder="Email" onBlur="checkExists(this.value, 'email')">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" required placeholder="Password">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group form-row">
                            <label for="birthdate">Birthdate</label>
                            <input type="text" class="form-control" name="birthdate" id="birthdate-input" required placeholder="Birth date" readonly>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" class="form-control" name="phone" max="15" required placeholder="Phone Number" onBlur="checkExists(this.value, 'phone')">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="photo_id">Photo ID</label>
                            <input type="text" class="form-control" name="photo_id" required placeholder="Photo ID" />
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="country_id">Country</label>
                            <select name="country_id" class="form-control" id="frm-countries" placeholder="Country" required onchange="dynamicDropdown(this.value, 'states')">
                                <option value="">Select Country</option>
                                <% Countries.forEach(function(country){ %>
                                    <option value="<%= country.id %>"><%= country.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="state_id">State</label>
                            <select name="state_id" class="form-control" id="frm-states" placeholder="State" required onchange="dynamicDropdown(this.value, 'cities')">
                                <option value="">Select State</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="city_id">City</label>
                            <select name="city_id" class="form-control" id="frm-cities" placeholder="City" required>
                                <option value="">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="address1">Address1</label>
                            <textarea rows="3" cols="6" class="form-control" name="address1" required placeholder="Address 1"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="address2">Address2</label>
                            <textarea rows="3" cols="6" class="form-control" name="address2" placeholder="Address 2"></textarea>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6">
                        <div class="up-img">
                            <span>Upload File</span>
                            <input id="upload-input" class="upfile" type="file" name="profile_photo" accept="image/jpg">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <button type="submit" class="btn btn-success">Create User</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
<% include footer%>
</body>
</html>
<script>
$(function () {
    $('#birthdate-input').datepicker({
        dateFormat: "dd M, yy",
        changeYear: true,
        maxDate: "-14y",
    });
});
function dynamicDropdown(id, table){
    $.ajax({
        url: "/admin/user/getdynamicdropdown",
        method : "post",
        data : {"id":id, "table":table}, 
        success: function(result){
            if(result.status == 1){
                $("select#frm-"+table+"").html(result.data);
            }
        }
    });
}
function checkExists(value, type){
    var data;
    if (type == 'email') {
        data = {"email":value}
    }
    if (type == 'phone') {
        data = {"phone":value}
    }
    $.ajax({
        url: "/api/user/check-phone",
        method : "post",
        data : data,
        success: function(result){
            if (result.status == 0) {
                $("input[name='"+type+"']").parent('div').addClass("has-error has-danger");
                $("input[name='"+type+"']").siblings('div').html(result.message);
            }
        }
    });
} 
</script>