<!-- alert msg -->
<div id="alertboxdiv">
<%  if(typeof(message) != 'undefined' && message != '') { %>
        <div class="alert <%=message[0]%>" id="alert_msg">
<%      if(message[0]=='successalert') { %>
            <span class="glyphicon glyphicon-ok"></span>      
<%      } else { %>
            <span class="glyphicon glyphicon-ban-circle"></span> 
<%      } %>
            <%= message[1] %> 
            <a class="fr" href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div> 
<%  } %>
</div>
