<!-- Page Content -->
<aside class="main-sidebar">

<div class="customer_name">
				<span style=''><%=customer_name%></span>
</div> 

<ul class="submenus">

    <li class="customer_sidebar_profile">
        <a href="/admin/customer/profile/<%=customer_id%>" >Profile</a>
    </li>
    <li class="customer_sidebar_awsaccounthistory">
        <a href="/admin/customer/awsaccountshistory/<%=customer_id%>" >AWS Accounts History</a>
    </li>
    <li class="customer_sidebar_planhistory">
        <a href="/admin/customer/planhistory/<%=customer_id%>" >Plan History</a>
    </li>
    <li class="customer_sidebar_billinghistory">
        <a href="/admin/customer/billinghistory/<%=customer_id%>" >Billing History</a>
    </li>
    <li class="customer_sidebar_paymenthistory">
        <a href="/admin/customer/paymenthistory/<%=customer_id%>" >Payment History</a>
    </li>
    <li class="customer_sidebar_loghistory">
        <a href="/admin/customer/loghistory/<%=customer_id%>" >Log History</a>
    </li>
    <li class="customer_sidebar_team">
        <a href="/admin/customer/team/<%=customer_id%>" >Team</a>
    </li>
    <li class="customer_sidebar_changepassword">
        <a href="/admin/customer/changepassword/<%=customer_id%>" >Change Password</a>
    </li>
    <li class="customer_sidebar_deactivedeleteaccount">
        <a href="/admin/customer/account/<%=customer_id%>" >Account</a>
    </li>

</ul>
</aside>
<script>

    var urlejsforsidebar = "<%=url%>";
    if(urlejsforsidebar.includes("profile")) {
        $(".customer_sidebar_profile").addClass("active");
    } else if(urlejsforsidebar.includes("changepassword")) {
        $(".customer_sidebar_changepassword").addClass("active");
    } else if(urlejsforsidebar.includes("team")) {
        $(".customer_sidebar_team").addClass("active");
    } else if(urlejsforsidebar.includes("planhistory")) {
        $(".customer_sidebar_planhistory").addClass("active");
    } else if(urlejsforsidebar.includes("loghistory")) {
        $(".customer_sidebar_loghistory").addClass("active");
    } else if(urlejsforsidebar.includes("awsaccountshistory")) {
        $(".customer_sidebar_awsaccounthistory").addClass("active");
    } else if(urlejsforsidebar.includes("billinghistory")) {
        $(".customer_sidebar_billinghistory").addClass("active");
    } else if(urlejsforsidebar.includes("paymenthistory")) {
        $(".customer_sidebar_paymenthistory").addClass("active");
    } else if(urlejsforsidebar.includes("deactivedeleteaccount")) {
        $(".customer_sidebar_deactivedeleteaccount").addClass("active");
    }

</script>



