<!--=================================================================-->
<!-- Notification -->
<!--=================================================================-->
<div class='loader'>
  <div class="ball"></div>
  <div class="ball1"></div>
</div>

<div id="editsidebar-notification" class="sidebar-notification">
    <!-- Content here of notification -->
    <div class="closebtn"><a onclick="closeeditsidebar();" class="closebtn">&nbsp;</a></div>
    <div class="notifica-titel">Notifications</div>	
    <div class="content mCustomScrollbar">

        <div id="notifi-data">

            <ul class="timeline" id="timeline">

               
                <!-- timeline time label -->
<!--                <li class="time-label"> <span class="bg-red">Date...</span> </li>

            
                <li class="btnhideshow"> <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header">Category...</h3>
                        <span class="time">Disptime..</span>
                    </div>
                </li>-->
  

                <!-- END timeline item --> 
 
                <li class="lastchild"> <i class="fa fa-clock-o"></i> </li>
            </ul>

        </div>

    </div>
</div>
<!--=================================================================-->
<!-- End Notification -->
<!--=================================================================-->

<div class="notifcation-bar" id="notification-bar"> </div>
<!--<hr>-->
<!--<div class="col-lg-12">--> 
<!--
      <div class="col-md-8 pull-right">
                                                <div class="row">
        <a href="#">Terms of Service</a> | <a href="#">Privacy</a>    
                                                                </div>
      </div>
-->
<div class="col-md-12">
    <div class="row copyright">
        <!--<p class="muted">  &copy; 2016 Bitcanopy - All Rights Reserved. </p>
								<p class="muted">  &copy; 2016 ReasonX, Inc. | Santa Clara, CA</p>-->
								<p class="muted">  &copy; 2017 ReasonX, Inc.</p>
    </div>
</div>

<!-- Contact Modal -->
<div id="commonContactModal" class="modal fade" role="dialog" style="height:auto !important;">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title">Contact us</h4>-->
                
                <div class="row">     
                    <ul class="nav nav-tabs" id="scheduletabs">
                        <li class="active" data-type="contactus"><a data-toggle="tab" href="#Contactus" >Contact Us</a></li>
                        <li data-type="givesuggestion"><a data-toggle="tab" href="#GiveSuggestion" >Suggest a Feature</a></li>
                        <li data-type="reportanerror"><a data-toggle="tab" href="#Reportanerror">Report an Error</a></li>
                    </ul>
                </div> 
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div id="Contactus" class="tab-pane fade in active">
                        <p class="smallfont">For any query related to Bitcanopy and AWS, feel free to get in touch with us. We are here to provide you with more information, answer any question you may have and offer an effective solution for your instructional needs.</p>
                        <form id='contactUsForm' class='contactforms' method='post' action='javascript:void(0)'>
                            <textarea type='text' class='form-control contactuspopuptextbox' rows=5 id='contactusmessage' name='contactusmessage' placeholder='Enter text' id='commonContactMessage' required></textarea>
                        </form>
                    </div>

                    <div id="GiveSuggestion" class="tab-pane fade">
                        <p class="smallfont">Send your valuable suggestions to improve and update Bitcanopy.</p>
                        <form id='giveSuggestionform' class='contactforms' method='post' action='javascript:void(0)'>
                            <textarea type='text' name='message' class='form-control contactuspopuptextbox' rows=5 id='givesuggestionmessage' name='givesuggestionmessage' placeholder='Enter text' id='' required></textarea>
                        </form>
                    </div>

                    <div id="Reportanerror" class="tab-pane fade">
                        <p class="smallfont">Send information about any error(s) that you come across while using Bitcanopy.</p>
                        <form id='reportAnErrorform' class='contactforms' action="javascript:void(0);" method="post" enctype="multipart/form-data" >
                            <input type='hidden' name='type' value='reportanerror' />
                            <input type='hidden' name='currentpageurl' value='<%= url %>' />
                            <textarea type='text' name='message' class='form-control contactuspopuptextbox' rows=5 id='reportanerrormessage' placeholder='Enter text' id='' required></textarea>
		                          <!--<input type='file' id='contactusfileattachment' name='contactusfileattachment' required />   -->
                           
                           
                           <div class="box">
                        
                          <input type='file' id='contactusfileattachment' name='contactusfileattachment'  class="inputfile inputfile-1" required data-multiple-caption="{count} files selected" />
                          <!--<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />-->
                          <label for="file-1"><svg xmlns="https://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
				</div>
                           
                           
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default canceltbn" data-dismiss="modal">Close</button>
                <button type='button' id="contactFormSubmit" class='btn sendbtn' value='Submit'>Submit</button>
            </div>
        </div>

    </div>
</div>

<!-- </div>--> 
<!--<script type="text/javascript" src="https://malsup.github.com/jquery.form.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#alert_msg").hide();
        }, 3000);
//        notificationsdata();
    });
    
    $.ajaxSetup({'global':true});

    var urlejs = '<%= url %>';
    if((urlejs.substring(0, 12) == '/costreports') || (urlejs.substring(0, 12) != '/dashboard') || (urlejs.substring(0, 12) != '/dashboardnew')) {
    } else {
        $(document).ajaxStart(function() {
            $(".wrapper").addClass("loading");
        });

        $(document).ajaxStop(function() {
            $(".wrapper").removeClass("loading");
        });
    }
    
    $('#contactusfileattachment').bind('change', function() {
        var filesize = this.files[0].size/1024;
        if(filesize>5000) {
            $('#contactusfileattachment').val("");
            alertMsg("erroralert", "File size may not be greater than 5000 kb");
            return false;
        }
    });
    
    $("#contactFormSubmit").on("click", function() {
        
        var type = $("#scheduletabs").find("li.active").data("type");
        
        if(type == "contactus" || type == "givesuggestion") {
            var sendmessage = $("#"+type+"message").val();
            if(sendmessage.trim()!="") {
                $('#commonContactModal').modal('hide');
                $(".wrapper").addClass("loading");
                $.ajax({
                    'url' : '/contactus/common',
                    'method' : 'post',
                    'contentType': "application/json; charset=utf-8",
                    'dataType': "json",
                    'data': JSON.stringify({
                                type:type,
                                currentpageurl:urlejs,
                                message:sendmessage
                            }),
                    'success':function(response) {
                        $(".wrapper").removeClass("loading");
                        console.log(response);
                        if(response.status==1) {
                            $("#commonContactMessage").val("");
                            $("#alertboxdiv").html("<div class='alert successalert' id='alert_msg'>"+
                                                   "<span class='glyphicon glyphicon-ok'></span>Your message has been sent successfully <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+

                                                   "</div>");
                            setTimeout(function () {
                                $("#alert_msg").hide();
                            }, 3000);
                        } else if(response.status==2) {
                            $("#commonContactMessage").val("");
                            $("#alertboxdiv").html("<div class='alert erroralert' id='alert_msg'>"+
                                                   "<span class='glyphicon glyphicon-ban-circle'></span>Please enter message <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
                                                   "</div>");
                            setTimeout(function () {
                                $("#alert_msg").hide();
                            }, 3000);
                        } else {
                            $("#alertboxdiv").html("<div class='alert erroralert' id='alert_msg'>"+
                                                   "<span class='glyphicon glyphicon-ban-circle'></span>Failed to send message <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
                                                   "</div>");
                            setTimeout(function () {
                                $("#alert_msg").hide();
                            }, 3000);
                        }
                    }
                });
            } else {
                alertMsg("erroralert", "Please enter message");
            }
            return false;

        } else if(type == "reportanerror") {
            
            if($("#reportanerrormessage").val().trim()!="") {
                $('#commonContactModal').modal('hide');
                $(".wrapper").addClass("loading");
                $("#reportAnErrorform").ajaxSubmit({
                    url: '/contactus/common', 
                    type: 'post',
                    'success':function(response) {
                        $(".wrapper").removeClass("loading");
                        console.log(response);
                        if(response.status==1) {
                            $("#commonContactMessage").val("");
                            $("#alertboxdiv").html("<div class='alert successalert' id='alert_msg'>"+
                                                   "<span class='glyphicon glyphicon-ok'></span>Your message has been sent successfully <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
                                                   "</div>");
                            setTimeout(function () {
                                $("#alert_msg").hide();
                            }, 3000);
                        } else if(response.status==2) {
                            $("#commonContactMessage").val("");
                            $("#alertboxdiv").html("<div class='alert erroralert' id='alert_msg'>"+
                                                   "<span class='glyphicon glyphicon-ban-circle'></span>Please enter message <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
                                                   "</div>");
                            setTimeout(function () {
                                $("#alert_msg").hide();
                            }, 3000);
                        } else {
                            $("#alertboxdiv").html("<div class='alert erroralert' id='alert_msg'>"+
                                                   "<span class='glyphicon glyphicon-ban-circle'></span>Failed to send message <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
                                                   "</div>");
                            setTimeout(function () {
                                $("#alert_msg").hide();
                            }, 3000);
                        }
                        return false;
                    }
                });
            } else {
                alertMsg("erroralert", "Please enter message");
            }
            return false;
        }
        
    });
    
//    $("#commonContactusform").on("submit", function(e) {
//        $(".wrapper").addClass("loading");
//        $('#commonContactModal').modal('hide');
//        $.ajax({
//            'url' : '/contactus/common',
//            'method' : 'post',
//            'contentType': "application/json; charset=utf-8",
//            'dataType': "json",
//            'data': JSON.stringify({
//                        message:$("#commonContactMessage").val()
//                    }),
//            'success':function(response) {
//                $(".wrapper").removeClass("loading");
//                console.log(response);
//                if(response.status==1) {
//                    $("#commonContactMessage").val("");
//                    $("#alertboxdiv").html("<div class='alert successalert' id='alert_msg'>"+
//                                           "<span class='glyphicon glyphicon-ok'></span>Your message has been sent successfully <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
//                                           "</div>");
//                    setTimeout(function () {
//                        $("#alert_msg").hide();
//                    }, 3000);
//                } else if(response.status==2) {
//                    $("#commonContactMessage").val("");
//                    $("#alertboxdiv").html("<div class='alert erroralert' id='alert_msg'>"+
//                                           "<span class='glyphicon glyphicon-ban-circle'></span>Please enter message <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
//                                           "</div>");
//                    setTimeout(function () {
//                        $("#alert_msg").hide();
//                    }, 3000);
//                } else {
//                    $("#alertboxdiv").html("<div class='alert erroralert' id='alert_msg'>"+
//                                           "<span class='glyphicon glyphicon-ban-circle'></span>Failed to send message <a class='fr' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'></span></a>"+
//                                           "</div>");
//                    setTimeout(function () {
//                        $("#alert_msg").hide();
//                    }, 3000);
//                }
//                return false;
//            }
//        });
//    });
    
    //Get notifications data
    function notificationsdata() {
//        $(".wrapper").addClass("loading");
        $.ajax({
            url: '/notifications',
            method: 'get',
            data: '',
            success: function (response) {
                console.log(response);

//                $(".wrapper").removeClass("loading");
                if(response.data.length>0) {
                    var htmldata = '';
                    response.data.forEach(function(d) {
                       htmldata+= "<li class='time-label'> <span class='bg-red'>"+d.date+"</span> </li>";
                       d.data.forEach(function(msg) {
                           htmldata+="<li class='btnhideshow'> <i class='fa bg-blue'><img src='/images/notificationcategory/"+msg.category+".png' /></i><div class='timeline-item'><h3 class='timeline-header'><a href='/supportboard#msg"+msg.id+"'>"+msg.category+"</a></h3><span class='time'>"+msg.displayTime+"</span></div></li>";
                       });
                    });
                    htmldata+= "<li class='time-label year'> <span class='bg-red'>2016</span> </li>";
                    htmldata+="<li class='lastchild'> <i class='fa lastchildfa'></i> </li>";
                    $('#timeline').html(htmldata);
                }
                
            }
        });

    }
    
//    <li class="time-label"> <span class="bg-red">Date...</span> </li>
//
//    <li class='btnhideshow'> <i class='fa fa-envelope bg-blue'></i>
//        <div class='timeline-item'>
//            <h3 class='timeline-header'>Category...</h3>
//            <span class='time'>Disptime..</span>
//        </div>
//    </li>



    $("a#noti").click(function () {
        $("#editsidebar-notification").toggleClass("main");
        notificationsdata();
    });

    function closeeditsidebar() {
        $('#editsidebar-notification').toggleClass("main");
    }



/**************************************************/
/**************** Header menu jquery **********/
/**************************************************/

$(document).ready( function() {
  if ($(window).width() <= 767) {
    $(".header-part").addClass("mobile_version");
				$("#page-content-wrapper").addClass("mobile_content");
    }

	  if ($(window).width() > 767) {
    $(".header-part").removeClass("mobile_version");
				$("#page-content-wrapper").removeClass("mobile_content");
    }
 });

$(window).on("load, resize", function() {
    var viewportWidth = $(window).width();
    if (viewportWidth <= 767) {
     $(".header-part").addClass("mobile_version");
					$("#page-content-wrapper").addClass("mobile_content");
    }

				if (viewportWidth > 767) {
     $(".header-part").removeClass("mobile_version");
					$("#page-content-wrapper").removeClass("mobile_content");
    }
});

$( "button.navbar-toggle" ).click(function() {
  $( "#page-content-wrapper.mobile_content" ).toggleClass('margin-left');
		$( ".pannello-affix .navbar-collapse" ).toggleClass('margin-left_menu');
});
</script>




<!--======================================================================-->
<!-- Ferro menu left bottom -->
<!--======================================================================-->

<% if(url.substr(0,6) != '/admin') { %>
<div id='ss_menu'>
  
  
  <div><a class="content_box" href="javascript:void(0);" data-toggle="modal" data-target="#commonContactModal"><i></i></a> <span class="inhover"><img src='/images/text_contact.png' alt="Contactus" /></span></div>
  <div><a class="boxhelp" href="/supportsite" target="_blank"><i></i></a> <span class="inhover"><img src='/images/text_support.png' alt="Support" /></span></div>
  <div><a class="intro_box" href="javascript:void(0);" onclick="javascript:introJs().start();"><i></i></a> <span class="inhover"><img src='/images/text_intro.png' alt="Intro" /></span></div>
  <div><a class="boxblog" href="https://blog.bitcanopy.com" target="_blank"><i></i></a> <span class="inhover"><img src='/images/text_blog.png' alt="Blog" /></span></div>
	
  <div class='menu'>
    <div class='share' id='ss_toggle' data-rot='180'>
      <div class='question'></div>
						<div class='close'></div>
    </div>
  </div>
</div>
<% } %>
<div id="overview_bg" class="overview_bg"></div>

<script type="text/javascript">
$(document).ready(function(ev) {
  var toggle = $('#ss_toggle');
  var menu = $('#ss_menu');
  var rot;
  
  $('#ss_toggle').on('click', function(ev) {
    rot = parseInt($(this).data('rot')) + 180;
    menu.css('transform', 'rotate(' + rot + 'deg)');
    menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
    if ((rot / 180) % 2 == 0) {
      //Moving in
      toggle.parent().addClass('ss_active');
      toggle.addClass('close');
						$('.overview_bg').addClass('highlight');
						
    } else {
      //Moving Out
      toggle.parent().removeClass('ss_active');
      toggle.removeClass('close');
						$('.overview_bg').removeClass( "highlight" );
    }
    $(this).data('rot', rot);
  });

  menu.on('transitionend webkitTransitionEnd oTransitionEnd', function() {
    if ((rot / 180) % 2 == 0) {
      $('#ss_menu div i').addClass('ss_animate');
    } else {
      $('#ss_menu div i').removeClass('ss_animate');
						//$('.overview_bg').removeClass('highlight');
    }
  });
		
		/**  Click to remove **/
			$('a.boxintro').on('click', function(ev) {
    rot = parseInt($('#ss_toggle').data('rot')) + 180;
    menu.css('transform', 'rotate(' + rot + 'deg)');
    menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
    if ((rot / 180) % 2 == 0) {
      //Moving in
      toggle.parent().addClass('ss_active');
      toggle.addClass('close');
						$('.overview_bg').addClass('highlight');
						
    } else {
      //Moving Out
      toggle.parent().removeClass('ss_active');
      toggle.removeClass('close');
						$('.overview_bg').removeClass( "highlight" );
    }
    $('#ss_toggle').data('rot', rot);
  });
		
		/** Body Click to remove **/
			$('#overview_bg').on('click', function(ev) {
    rot = parseInt($('#ss_toggle').data('rot')) + 180;
    menu.css('transform', 'rotate(' + rot + 'deg)');

    menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
    if ((rot / 180) % 2 == 0) {
      //Moving in
      toggle.parent().addClass('ss_active');
      toggle.addClass('close');
						$('.overview_bg').addClass('highlight');
						
    } else {
      //Moving Out
      toggle.parent().removeClass('ss_active');
      toggle.removeClass('close');
						$('.overview_bg').removeClass( "highlight" );
    }
    $('#ss_toggle').data('rot', rot);
  });
		
		
		$('#ss_menu a').on('click', function(ev) {
    rot = parseInt($('#ss_toggle').data('rot')) + 180;
    menu.css('transform', 'rotate(' + rot + 'deg)');

    menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
    if ((rot / 180) % 2 == 0) {
      //Moving in
      toggle.parent().addClass('ss_active');
      toggle.addClass('close');
						$('.overview_bg').addClass('highlight');
						
    } else {
      //Moving Out
      toggle.parent().removeClass('ss_active');
      toggle.removeClass('close');
						$('.overview_bg').removeClass( "highlight" );
    }
    $('#ss_toggle').data('rot', rot);
  });

});

<!--========================================-->
<!-- Left menu Hide Show -->
<!--========================================-->

$("a.leftpanelmenu").click(function(){
    $("body").toggleClass("hideleftmenu");
});


</script>

<!--======================================================================-->
<!-- ================ Intro js ===================== -->
<!--======================================================================-->
<script type="text/javascript" src="/../javascripts/intro.js"></script>
<link href="/../stylesheets/introjs.css" rel="stylesheet">
<style>
.datepicker {z-index : 99999 !important;}
</style>

<!-- Chatra {literal} -->

<script type="text/javascript">
    
//    window.ChatraSetup = {
//        colors: {
//            buttonText: '#f0f0f0', // chat button text color
//            buttonBg: '#3cecec'    // chat button background color
//        }
//    };
//    
//    ChatraID = 'uDtWCRWxgNSKTSNwi';
//    (function(d, w, c) {
//        var n = d.getElementsByTagName('script')[0],
//            s = d.createElement('script');
//        w[c] = w[c] || function() {
//            (w[c].q = w[c].q || []).push(arguments);
//        };
//        s.async = true;
//        s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
//            + '//call.chatra.io/chatra.js';
//        n.parentNode.insertBefore(s, n);
//    })(document, window, 'Chatra');

    function alertMsg(type, msg) { //type = successalert or erroralert
        if(type=='successalert') {
            $('#alertboxdiv').html('<div class="alert '+type+'" id="alert_msg"><span class="glyphicon glyphicon-ok"></span>'+msg+'<a class="fr" href="#"><span class="glyphicon glyphicon-remove"></span></a></div>');
            setTimeout(function () {
                $("#alert_msg").hide();
            }, 5000);
        } else {
            $('#alertboxdiv').html('<div class="alert '+type+'" id="alert_msg"><span class="glyphicon glyphicon-ban-circle"></span>'+msg+'<a class="fr" href="#"><span class="glyphicon glyphicon-remove"></span></a></div>');
            setTimeout(function () {
                $("#alert_msg").hide();
            }, 5000);
        }
    }
				
				
<!--=====================================================-->
<!--================== File Upload Report An Error ======================-->
<!--=====================================================-->

(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);

'use strict';

;( function ( document, window, index ){
	var inputs = document.querySelectorAll( '.inputfile' );
	Array.prototype.forEach.call( inputs, function( input ){
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;
		input.addEventListener( 'change', function( e ){
			var fileName = '';
			if( this.files && this.files.length > 1 )
				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
			else
				fileName = e.target.value.split( '\\' ).pop();

			if( fileName )
				label.querySelector( 'span' ).innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});

		// Firefox bug fix
		input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
		input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
	});
}( document, window, 0 ));

</script>

<% if(showchat==1) { %>
<script data-cfasync="false">
    var cpageurl = "<%=url%>";
    var chatfullname = "";
    var chatemail = "";
    <% if(typeof(full_name)!='undefined') { %>
        chatfullname = "<%=full_name%>";
    <% } %>
    <% if(typeof(username)!='undefined') { %>
        chatemail = "<%=username%>";
    <% } %>
    if((cpageurl.substring(0, 6) != '/admin')) {
        window.civchat = {
            apiKey: "jph2IoOLBPRCMjHwDukzb8nJr8raz1wtMCams9xtMXI089Yue5dUp3LUbz8G5W31",
            name: chatfullname,
            email: chatemail
        };
    }
</script>
<script data-cfasync="false" src="https://widget.userengage.io/widget.js"></script>
<% } %>
