<!-- checklist code -->
<%
                                
    if(owner_id==user_id) {

        var aws_acc_setup_perc = 25;
        var mapping_tags_perc = 13;
        var update_profile_perc = 15;
        var upload_picture_perc = 12;
        var manage_team_perc = 8;
        var schedule_instance_perc = 15;
        var budget_alert_perc = 12;

    } else {

        var aws_acc_setup_perc = 25;
        var mapping_tags_perc = 18;
        var update_profile_perc = 15;
        var upload_picture_perc = 12;
        var manage_team_perc = 0;
        var schedule_instance_perc = 15;
        var budget_alert_perc = 15;

    }

    var total_perc = 0;

    if(checklist.awsAccountSetup==1) {
        total_perc += aws_acc_setup_perc;
    }
    if(checklist.mappingTags==1) {
        total_perc += mapping_tags_perc;
    }
    if(checklist.updateProfile==1) {
        total_perc += update_profile_perc;
    }
    if(checklist.uploadPicture==1) {
        total_perc += upload_picture_perc;
    }
    if(checklist.manageTeam==1) {
        total_perc += manage_team_perc;
    }
    if(checklist.scheduleInstance==1) {
        total_perc += schedule_instance_perc;
    }
    if(checklist.budgetAlert==1) {
        total_perc += budget_alert_perc;
    } 

%>
<header id="newheader" class>
<div class="header-part">
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <!--======================= Menu ============================-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand headerlogo" href="/dashboard"><img id="" src="/images/headerlogo.png"></a>
												<!--<span class="menuname animate-flicker">Menu</span>-->
            <div class="breadcrumbs" id="header_breadcrumbs">
                <% if(typeof(sub_page_title)!='undefined') { %>
                        <% if(typeof(page_title_link)!='undefined') { %>
                        <span class="firstchild"><a id="" href="<%=page_title_link%>"  class="header_page_title_wo_link"><%=page_title%></a></span>
                        <% } else { %>
                        <span class="firstchild"><a id="" href="javascript:void(0)"  class="header_page_title_wo_link"><%=page_title%></a></span>
                        <% } %>
                        
                        <span><%=sub_page_title%></span>
                <% } else { %>
                  <span class="firstchild"><a id="n-logo" href="javascript:void(0)"><%=page_title%> <i id="n-logo-img" class="menuarrwo"></i></a></span>
                <% } %>
            </div>
        </div>

        <!--======================= Right Menu ============================-->		
        <div class="fr headerrightmenu newheaderright">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="search_li">
                 <form class="searchbox">
                  <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                  </form>
                 <a id="searchopen" class="search_icon" href="javascript:void(0)"> <i class="menu_icon"></i> </a></li>-->
                <% if(total_perc<100) { %>
                <li class="check_li">
                    <a class="check_icon" id="check" href="/checklist"> 
                        <i class="menu_icon"></i>
                        <span id="check_count"><%= total_perc%></span>
                    </a>
                </li>
                <% } %>
                
                <li class="notification_li">	<a class="notification_icon" id="noti" href="javascript:void(0)"> <i class="menu_icon"></i>
                        <% if(notification_count>0) { %>
                        <span id="notification_count"><%=notification_count%></span>
                        <% } %> 

                    </a></li>	
                    
                   						

                <li class="dropdown loginuser"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> 
                        <div class="usericon">
                            <% if(!profile_pic) { %>
                            <span class="profilename"><%=full_name.substr(0,1).toUpperCase()%></span>
                            <!--<img src="/images/male_avatar.png" />-->
                            <% } else { %>
                            <img src="/uploads/profilepic/<%=profile_pic%>" onerror="this.src='/images/<%=profile_pic%>'" />
                            <% } %>                   

                        </div>
                        <!--<i class="menu_icon"></i>--> </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login setingmenu">
                                <div class="col-lg-12">
                                    <strong class="fullname_user"><%=full_name%></strong> 
                                    <% console.log("email ==========> "+username); %>
                                    <div class="usermailid"><%=username%></div>
                                    <div class="profile_page"><a href="/profile" class="viewprofile">View Profile</a></div>
                                    <p class="text-left"><a href="/plans" class="">Upgrade Plan</a></p>
                                    <p class="text-left"><a href="/settings" class="">Settings</a></p>
                                    <p class="text-left logout"><a href="/logoutuser" class="">Logout</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--======================= Menu ============================-->		

        <div id="leftmenus" class="hmenus" data-last="none">
            <ul class="nav navbar-nav">
                <!--<li class="h-deshboard"><a class="hlinks" href="/dashboard" ><i class="menuicon"></i><br> <span>Dashboard</span></a></li>-->
                <li class="bit-insights"><a class="hlinks" href="/insights/index" ><i class="menuicon"></i><br><span>Bit Insights</span></a></li>
                <li class="bit-smartSpend"><a class="hlinks"  href="/costreports/index" ><i class="menuicon"></i><br><span>Bit SmartSpend</span></a></li>
                <li class="ri-planner"><a class="hlinks"  href="/bitplanner" ><i class="menuicon"></i><br><span>Bit Planner</span></a></li>
                <li class="bit-scheduler"><a class="hlinks"  href="/scheduler" ><i class="menuicon"></i><br><span>Bit Scheduler</span></a></li>
                <li class="bit-assets"><a class="hlinks"  href="/inventory" ><i class="menuicon"></i><br><span>Bit Assets</span></a></li>
                <!--<li class="bit-notification"><a class="hlinks"  href="/supportboard" ><i class="menuicon"></i><br><span>Notification</span></a></li>-->
                <li class="bit-helpcenter"><a class="hlinks" target="_blank" href="/supportsite" ><i class="menuicon"></i><br><span>Help Center</span></a></li>
                
                <li class="bit-actions" style="display:none;"><a class="hlinks"  href="javascript:void(0)" ><i class="menuicon"></i><br><span>Bit Actions</span></a></li>
                <li class="bit-security"  style="display:none;"><a class="hlinks"  href="javascript:void(0)" ><i class="menuicon"></i><br><span>Bit Security</span></a></li>
            </ul>
        </div>
        
        <div id="leftmenus2" class="hmenus2" data-last="none">
            <ul class="nav navbar-nav">
                <li class="bit-planner-existingri"><a class="hlinks2" href="javascript:void(0);" onclick="modifyUrl('rilist');"><span>RI Status</span></a></li>
                <li class="bit-planner-recommandations"><a class="hlinks2"  href="javascript:void(0);" onclick="modifyUrl('recommandations');"><span>RI Recommendations</span></a></li>
                <li class="bit-planner-plans"><a class="hlinks2"  href="javascript:void(0);" onclick="modifyUrl('plans');"><span>RI Plan</span></a></li>
            </ul>
        </div>


<!--<div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
<ul class="nav navbar-nav navbar-right">
<li class="notification"><a id="noti" class="hlinks" href="javascript:void(0)"> <i class="menu_icon"></i> </a></li>
<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
<div class="usericon"> <img src="/uploads/profilepic/1474879796096_7.png" onerror="this.src='/images/male_avatar.png'"> </div>
<strong><%=full_name%></strong> <i class="menu_icon"></i> </a>
<ul class="dropdown-menu">
<li>
<div class="navbar-login setingmenu">
<div class="col-lg-12">
<div class="usermailid">production.c@intuz.com</div>
<div class="profile_page"><a href="/profile" class="viewprofile">View Profile</a></div>
<p class="text-left"><a href="/plans" class="">Upgrade Plan</a></p>
<p class="text-left"><a href="/Users" class="">Setting</a></p>
<p class="text-left logout"><a href="/logout" class="">Logout</a></p>
</div>
</div>
</li>
</ul>
</li>
</ul>
</div>-->
        <!--/.nav-collapse --> 

    </nav>
</div>
</header>


<!-- alert msg -->
<div id="alertboxdiv">
<%  if(typeof(message) != 'undefined' && message != '') { %>
        <div class="alert <%=message[0]%>" id="alert_msg">
<%      if(message[0]=='successalert') { %>
            <span class="glyphicon glyphicon-ok"></span>      
<%      } else { %>
            <span class="glyphicon glyphicon-ban-circle"></span> 
<%      } %>
            <%= message[1] %> 
            <a class="fr" href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div> 
<%  } %>
</div>

<style>
    .hlinks
    {
        color:#B1BBC4;
    }
</style>
<script>
    $(document).ready(function () {
        if("<%=total_perc%>"==100) {
            $("body").addClass("hundredperc");
        }
        var url = '<%= url %>';
        if ('<%= url %>' == '/dashboard') {
            $(".h-deshboard").addClass('active');
        } else if (('<%= url %>' == '/costanalysis') || (url.substring(0, 13) == '/costanalysis')) {
            $(".costanalysis ").addClass('active');
        } else if ('<%= url %>' == '/bitplanner') {
            $(".ri-planner").addClass('active');
        } else if (('<%= url %>' == '/inventory') || (url.substring(0, 10) == '/inventory')) {
            $(".bit-assets").addClass('active');
        } else if (('<%= url %>' == '/park') || (url.substring(0, 10) == '/park')) {
            $(".bit-scheduler").addClass('active');
        } else if (('<%= url %>' == '/insights/index') || (url.substring(0, 10) == '/insights/index')) {
            $(".bit-insights").addClass('active');
        } else if (('<%= url %>' == '/supportboard')) {
            $(".bit-notification").addClass('active');
        } else if (('<%= url %>' == '/costreports') || (url.substring(0, 12) == '/costreports')) {
            $(".bit-smartspend").addClass('active');
        } else if (('<%= url %>' == '/reports') || ('<%= url %>' == '/careports')) {
            $(".reports").addClass('active');
            if ('<%= url %>' == '/reports') {
                $(".inv_reports").addClass('active');
            } else if ('<%= url %>' == '/careports') {
                $(".ca_reports").addClass('active');
            }
        } else if (('<%= url %>' == '/awsaccounts') || 
                    ('<%= url %>' == '/Users') || 
                    ('<%= url %>' == '/budgetalerts') || 
                    ('<%= url %>' == '/profile') || 
                    ('<%= url %>' == '/changepassword') ||
                    ('<%= url %>' == '/plans') ||
                    ('<%= url %>' == '/billinghistory') ||
                    ('<%= url %>' == '/paymentmethod') ||
                    ('<%= url %>' == '/selftuning') ||
                    ('<%= url %>' == '/tagmap') ||
                    ('<%= url %>' == '/schedulereports')){
            $(".awsaccounts").addClass('active');

            if ('<%= url %>' == '/Users') {
                $(".sidebar_user").addClass('active');
            } else if ('<%= url %>' == '/awsaccounts') {
                $(".sidebar_awsaccounts ").addClass('active');
            } else if ('<%= url %>' == '/budgetalerts') {
                $(".sidebar_budgetalerts").addClass('active');
            } else if ('<%= url %>' == '/profile') {
                $(".sidebar_profile").addClass('active');
            } else if ('<%= url %>' == '/changepassword') {
                $(".sidebar_changepassword").addClass('active');
            } else if ('<%= url %>' == '/tagmap') {
                $(".sidebar_tagmap").addClass('active');
            } else if ('<%= url %>' == '/schedulereports') {
                $(".sidebar_schedulereports").addClass('active');
            } else if (('<%= url %>' == '/plans') ||
                    ('<%= url %>' == '/billinghistory') ||
                    ('<%= url %>' == '/paymentmethod') || 
                    ('<%= url %>' == '/selftuning')) {
                $(".sidebar_billing").addClass('active');
            }

        }

    });
</script>