<div class="header-part">
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <!--======================= Menu ============================-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand headerlogo" id="n-logo" href="javascript:void(0)"><img src="/images/headerlogo.png"></a>
            <div class="breadcrumbs">
                <span><a href="javascript:void(0)">Bit SmartSpend</a></span>
                <span>Cost Summary</span>
            </div>
        </div>

        <!--======================= Right Menu ============================-->		
        <div class="fr headerrightmenu newheaderright">
            <ul class="nav navbar-nav navbar-right">
                <li class="search_li">
<!--                    <form class="searchbox">
                        <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                    </form>
                    <a id="searchopen" class="search_icon" href="javascript:void(0)"> <i class="menu_icon"></i> </a></li>-->

                <li class="notification_li">	<a class="notification_icon" id="noti" href="javascript:void(0)"> <i class="menu_icon"></i>
                        <% if(notification_count>0) { %>
                        <span id="notification_count"><%=notification_count%></span>
                        <% } %> 

                    </a></li>							

                <li class="dropdown loginuser"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> 
                        <div class="usericon">
                            <% if(!profile_pic) { %>
                            <img src="/images/male_avatar.png" />
                            <% } else { %>
                            <img src="/uploads/profilepic/<%=profile_pic%>" onerror="this.src='/images/male_avatar.png'" />
                            <% } %>                   

                        </div>
                        <strong><%=full_name%></strong> <i class="menu_icon"></i> </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login setingmenu">
                                <div class="col-lg-12">
                                    <div class="usermailid"><%=username%></div>
                                    <div class="profile_page"><a href="/profile" class="viewprofile">View Profile</a></div>
                                    <p class="text-left"><a href="/plans" class="">Upgrade Plan</a></p>
                                    <p class="text-left"><a href="/Users" class="">Setting</a></p>
                                    <p class="text-left logout"><a href="/logout" class="">Logout</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--======================= Menu ============================-->		
        <div id="leftmenus" class="hmenus">
            <ul class="nav navbar-nav">
                <li class="h-deshboard"><a class="hlinks" href="/dashboard" ><i class="menuicon"></i><br> <span>Dashboard</span></a></li>
                <li class="bit-insights"><a class="hlinks" href="/insights" ><i class="menuicon"></i><br><span>Bit Insights</span></a></li>
                <li class="bit-smartSpend"><a class="hlinks"  href="/costreports" ><i class="menuicon"></i><br><span>Bit SmartSpend</span></a></li>
                <li class="ri-planner"><a class="hlinks"  href="/simulator" ><i class="menuicon"></i><br><span>RI Planner</span></a></li>
                <li class="bit-scheduler"><a class="hlinks"  href="/park" ><i class="menuicon"></i><br><span>Bit Scheduler</span></a></li>
                <li class="bit-assets"><a class="hlinks"  href="/inventory" ><i class="menuicon"></i><br><span>Bit Assets</span></a></li>
                <li class="bit-actions" style="display:none;"><a class="hlinks"  href="javascript:void(0)" ><i class="menuicon"></i><br><span>Bit Actions</span></a></li>
                <li class="bit-security"  style="display:none;"><a class="hlinks"  href="javascript:void(0)" ><i class="menuicon"></i><br><span>Bit Security</span></a></li>
            </ul>
        </div>


        <!--<div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
<ul class="nav navbar-nav navbar-right">
<li class="notification"><a id="noti" class="hlinks" href="javascript:void(0)"> <i class="menu_icon"></i> </a></li>
<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
<div class="usericon"> <img src="/uploads/profilepic/1474879796096_7.png" onerror="this.src='/images/male_avatar.png'"> </div>
<strong><%=full_name%></strong> <i class="menu_icon"></i> </a>
<ul class="dropdown-menu">
<li>
<div class="navbar-login setingmenu">
<div class="col-lg-12">
<div class="usermailid">production.c@intuz.com</div>
<div class="profile_page"><a href="/profile" class="viewprofile">View Profile</a></div>
<p class="text-left"><a href="/plans" class="">Upgrade Plan</a></p>
<p class="text-left"><a href="/Users" class="">Setting</a></p>
<p class="text-left logout"><a href="/logout" class="">Logout</a></p>
</div>
</div>
</li>
</ul>
</li>
</ul>
</div>-->
        <!--/.nav-collapse --> 

    </nav>
</div>
<%  
if(isPlanRunning>0 && trialPlanExpireInDays>=0 && futurePlanId=="-") {
%>
<div class="trialexpiremessage">
    Your trial is expiring in <%=trialPlanExpireInDays+1%> days. Upgrade your account, <a href='/plans'>click here</a> to keep full access to Bitcanopy.
    <a class="closebtn" onclick="closetrialalert();" style='align-right'>&nbsp;</a>
</div>
<% 
}
%>

<style>
    .hlinks
    {
        color:#B1BBC4;
    }
</style>
<script>
    $(document).ready(function () {
        var url = '<%= url %>';
        if ('<%= url %>' == '/dashboard') {
            $(".dashboard").addClass('active');
        } else if (('<%= url %>' == '/costanalysis') || (url.substring(0, 13) == '/costanalysis')) {
            $(".costanalysis ").addClass('active');
        } else if ('<%= url %>' == '/simulator') {
            $(".supportboard").addClass('active');
        } else if (('<%= url %>' == '/inventory') || (url.substring(0, 10) == '/inventory')) {
            $(".inventory").addClass('active');
        } else if (('<%= url %>' == '/park') || (url.substring(0, 10) == '/park')) {
            $(".parking").addClass('active');
        } else if (('<%= url %>' == '/insights') || (url.substring(0, 10) == '/insights')) {
            $(".insights").addClass('active');
        } else if (('<%= url %>' == '/reports') || ('<%= url %>' == '/careports')) {
            $(".reports").addClass('active');
            if ('<%= url %>' == '/reports') {
                $(".inv_reports").addClass('active');
            } else if ('<%= url %>' == '/careports') {
                $(".ca_reports").addClass('active');
            }
        } else if (('<%= url %>' == '/awsaccounts') || ('<%= url %>' == '/Users') || ('<%= url %>' == '/budgetalerts') || ('<%= url %>' == '/profile') || ('<%= url %>' == '/changepassword')) {
            $(".awsaccounts").addClass('active');

            if ('<%= url %>' == '/Users') {
                $(".sidebar_user").addClass('active');
            } else if ('<%= url %>' == '/awsaccounts') {
                $(".sidebar_awsaccounts ").addClass('active');
            } else if ('<%= url %>' == '/budgetalerts') {
                $(".sidebar_budgetalerts").addClass('active');
            } else if ('<%= url %>' == '/profile') {
                $(".sidebar_profile").addClass('active');
            } else if ('<%= url %>' == '/changepassword') {
                $(".sidebar_changepassword").addClass('active');
            }

        }

    });
</script>