<header id="newheader">
<div class="header-part">
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <!--======================= Menu ============================-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand headerlogo" id="n-logo" href="javascript:void(0)"><img id="n-logo-img" src="/images/headerlogo.png"></a>
												<span class="menuname animate-flicker">Menu</span>
            <div class="breadcrumbs" id="header_breadcrumbs">
                <% if(typeof(page_title_link)!='undefined') { %>
                    <span><a href="<%=page_title_link%>"><%=page_title%></a></span>
                <% } else { %>
                    <span><a href="javascript:void(0)"><%=page_title%></a></span>
                <% } %>
                <% if(typeof(sub_page_title)!='undefined') { %>
                    <span><%=sub_page_title%></span>
                <% } %>
            </div>
        </div>

        <!--======================= Right Menu ============================-->		
        <div class="fr headerrightmenu newheaderright">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="search_li">
                 <form class="searchbox">
                  <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                  </form>
                 <a id="searchopen" class="search_icon" href="javascript:void(0)"> <i class="menu_icon"></i> </a></li>-->

                <li class="notification_li">	<a class="notification_icon" id="noti" href="javascript:void(0)"> <i class="menu_icon"></i>
                        <% if(notification_count>0) { %>
                        <span id="notification_count"><%=notification_count%></span>
                        <% } %> 

                    </a></li>							

                <li class="dropdown loginuser"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> 
                        <div class="usericon">
                            <% if(!profile_pic) { %>
                            <span class="profilename"><%=full_name.substr(0,1).toUpperCase()%></span>
                            <!--<img src="/images/male_avatar.png" />-->
                            <% } else { %>
                            <img src="/uploads/profilepic/<%=profile_pic%>" onerror="this.src='/images/male_avatar.png'" />
                            <% } %>                   

                        </div>
                        <!--<i class="menu_icon"></i>--> </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login setingmenu">
                                <div class="col-lg-12">
                                    <strong class="fullname_user"><%=full_name%></strong> 
                                    <% console.log("email ==========> "+username); %>
                                    <div class="usermailid"><%=username%></div>
                                    <div class="profile_page"><a href="/profile" class="viewprofile">View Profile</a></div>
                                    <p class="text-left"><a href="/plans" class="">Upgrade Plan</a></p>
                                    <p class="text-left"><a href="/Users" class="">Settings</a></p>
                                    <p class="text-left logout"><a href="/logout" class="">Logout</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--======================= Menu ============================-->		
        <div id="leftmenus" class="hmenus" data-last="none">
            <ul class="nav navbar-nav">
                <li class="h-deshboard"><a class="hlinks" href="/dashboard" ><i class="menuicon"></i><br> <span>Dashboard</span></a></li>
                <li class="bit-insights"><a class="hlinks" href="/insights" ><i class="menuicon"></i><br><span>Bit Insights</span></a></li>
                <li class="bit-smartSpend"><a class="hlinks"  href="/costreports" ><i class="menuicon"></i><br><span>Bit SmartSpend</span></a></li>
                <li class="ri-planner"><a class="hlinks"  href="/simulator" ><i class="menuicon"></i><br><span>Bit Planner</span></a></li>
                <li class="bit-scheduler"><a class="hlinks"  href="/park" ><i class="menuicon"></i><br><span>Bit Scheduler</span></a></li>
                <li class="bit-assets"><a class="hlinks"  href="/inventory" ><i class="menuicon"></i><br><span>Bit Assets</span></a></li>
                <li class="bit-notification"><a class="hlinks"  href="/supportboard" ><i class="menuicon"></i><br><span>Notification</span></a></li>
                <li class="bit-helpcenter"><a class="hlinks" target="_blank" href="https://support.bitcanopy.com/login" ><i class="menuicon"></i><br><span>Help Center</span></a></li>
                
                <li class="bit-actions" style="display:none;"><a class="hlinks"  href="javascript:void(0)" ><i class="menuicon"></i><br><span>Bit Actions</span></a></li>
                <li class="bit-security"  style="display:none;"><a class="hlinks"  href="javascript:void(0)" ><i class="menuicon"></i><br><span>Bit Security</span></a></li>
            </ul>
        </div>


        <!--<div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
<ul class="nav navbar-nav navbar-right">
<li class="notification"><a id="noti" class="hlinks" href="javascript:void(0)"> <i class="menu_icon"></i> </a></li>
<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
<div class="usericon"> <img src="/uploads/profilepic/1474879796096_7.png" onerror="this.src='/images/male_avatar.png'"> </div>
<strong><%=full_name%></strong> <i class="menu_icon"></i> </a>
<ul class="dropdown-menu">
<li>
<div class="navbar-login setingmenu">
<div class="col-lg-12">
<div class="usermailid">production.c@intuz.com</div>
<div class="profile_page"><a href="/profile" class="viewprofile">View Profile</a></div>
<p class="text-left"><a href="/plans" class="">Upgrade Plan</a></p>
<p class="text-left"><a href="/Users" class="">Setting</a></p>
<p class="text-left logout"><a href="/logout" class="">Logout</a></p>
</div>
</div>
</li>
</ul>
</li>
</ul>
</div>-->
        <!--/.nav-collapse --> 

    </nav>
</div>
</header>
<%  
if(isPlanRunning>0 && trialPlanExpireInDays>=0 && futurePlanId=="-") {
%>
<div class="trialexpiremessage">
    Your trial is expiring in <%=trialPlanExpireInDays+1%> days. Upgrade your account, <a href='/plans'>click here</a> to keep full access to Bitcanopy.
    <a class="closebtn" onclick="closetrialalert();" style='align-right'>&nbsp;</a>
</div>
<% 
}
%>

<!-- alert msg -->
<div id="alertboxdiv">
<%  if(typeof(message) != 'undefined' && message != '') { %>
        <div class="alert <%=message[0]%>" id="alert_msg">
<%      if(message[0]=='successalert') { %>
            <span class="glyphicon glyphicon-ok"></span>      
<%      } else { %>
            <span class="glyphicon glyphicon-ban-circle"></span> 
<%      } %>
            <%= message[1] %> 
            <a class="fr" href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div> 
<%  } %>
</div>

<style>
    .hlinks
    {
        color:#B1BBC4;
    }
</style>
<script>
    $(document).ready(function () {
        var url = '<%= url %>';
        if ('<%= url %>' == '/dashboard') {
            $(".h-deshboard").addClass('active');
        } else if (('<%= url %>' == '/costanalysis') || (url.substring(0, 13) == '/costanalysis')) {
            $(".costanalysis ").addClass('active');
        } else if ('<%= url %>' == '/simulator') {
            $(".ri-planner").addClass('active');
        } else if (('<%= url %>' == '/inventory') || (url.substring(0, 10) == '/inventory')) {
            $(".bit-assets").addClass('active');
        } else if (('<%= url %>' == '/park') || (url.substring(0, 10) == '/park')) {
            $(".bit-scheduler").addClass('active');
        } else if (('<%= url %>' == '/insights') || (url.substring(0, 10) == '/insights')) {
            $(".bit-insights").addClass('active');
        } else if (('<%= url %>' == '/supportboard')) {
            $(".bit-notification").addClass('active');
        } else if (('<%= url %>' == '/costreports') || (url.substring(0, 12) == '/costreports')) {
            $(".bit-smartspend").addClass('active');
        } else if (('<%= url %>' == '/reports') || ('<%= url %>' == '/careports')) {
            $(".reports").addClass('active');
            if ('<%= url %>' == '/reports') {
                $(".inv_reports").addClass('active');
            } else if ('<%= url %>' == '/careports') {
                $(".ca_reports").addClass('active');
            }
        } else if (('<%= url %>' == '/awsaccounts') || 
                    ('<%= url %>' == '/Users') || 
                    ('<%= url %>' == '/budgetalerts') || 
                    ('<%= url %>' == '/profile') || 
                    ('<%= url %>' == '/changepassword') ||
                    ('<%= url %>' == '/plans') ||
                    ('<%= url %>' == '/billinghistory') ||
                    ('<%= url %>' == '/paymentmethod') ||
                    ('<%= url %>' == '/tagmap') ||
                    ('<%= url %>' == '/schedulereports')){
            $(".awsaccounts").addClass('active');

            if ('<%= url %>' == '/Users') {
                $(".sidebar_user").addClass('active');
            } else if ('<%= url %>' == '/awsaccounts') {
                $(".sidebar_awsaccounts ").addClass('active');
            } else if ('<%= url %>' == '/budgetalerts') {
                $(".sidebar_budgetalerts").addClass('active');
            } else if ('<%= url %>' == '/profile') {
                $(".sidebar_profile").addClass('active');
            } else if ('<%= url %>' == '/changepassword') {
                $(".sidebar_changepassword").addClass('active');
            } else if ('<%= url %>' == '/tagmap') {
                $(".sidebar_tagmap").addClass('active');
            } else if ('<%= url %>' == '/schedulereports') {
                $(".sidebar_schedulereports").addClass('active');
            } else if (('<%= url %>' == '/plans') ||
                    ('<%= url %>' == '/billinghistory') ||
                    ('<%= url %>' == '/paymentmethod')) {
                $(".sidebar_billing").addClass('active');
            }

        }

    });
</script>


 
