<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title><%=page_title%><% if(typeof(sub_page_title)!='undefined') { %> - <%=sub_page_title%><% } %></title>
<link rel="shortcut icon" href='https://bitcanopy.com/images/favicon.png' type="image/x-con" />
<link href="/../stylesheets/font-awesome.min.css" rel="stylesheet">
<link href="/../stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/../stylesheets/custom.css" rel="stylesheet">
<link href="/../stylesheets/responsive.css" rel="stylesheet">

<script type="text/javascript" src="/../javascripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/../javascripts/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

<link href="/../stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
<script type="text/javascript" src="/../javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/../javascripts/custom.js"></script>


<link href="/../stylesheets/jqueryvalidations/screen.css" rel="stylesheet">
<script type="text/javascript" src="/../javascripts/jquery.validate.js"></script>

<script>   
    $(document).ready(function () {
        $("button#addfilters").click(function () {
        $(".addfilterbox").toggleClass("in");
    });

    $('a#searchopen').click(function () {
        $('li.search_li').toggleClass('apply');
        $('a#searchopen').toggleClass('apply');
    });
				
    //$( "#leftmenus" ).hide();
				$("#leftmenus" ).removeClass('active');
//    $('a#n-logo').click(function () {
//        //$('#leftmenus').toggleClass('active');
//        $( "#leftmenus" ).show( "show", "linear" );
//        $('a#n-logo').toggleClass('apply');
//    });
    
    $("body").click(function(e) {
        var click_id = e.target.id;
//        console.log(click_id);
        if(click_id == 'n-logo-img' || click_id == 'n-logo') {
            if($("#leftmenus").data("last")=="block") {
//                console.log("1");
                //$("#leftmenus" ).hide( "show", "linear");
                $("#leftmenus" ).removeClass('active');
                $("#leftmenus").data("last", "none");
                $('a#n-logo').removeClass('apply');
            } else {
//                console.log("2");
                //$("#leftmenus" ).show( "show", "linear");
                $("#leftmenus" ).addClass('active');
                $("#leftmenus").data("last", "block");
                $('a#n-logo').addClass('apply');
            }
        } else {
//            console.log("3");
            //$( "#leftmenus" ).hide( "show", "linear");
            $("#leftmenus" ).removeClass('active');
            $("#leftmenus").data("last", "none");
            $('a#n-logo').removeClass('apply');
        }
        
        if(click_id == 'n-logo-img2' || click_id == 'n-logo2') {
            if($("#leftmenus2").data("last")=="block") {
                $("#leftmenus2" ).removeClass('active');
                $("#leftmenus2").data("last", "none");
                $('a#n-logo2').removeClass('apply');
            } else {
                $("#leftmenus2" ).addClass('active');
                $("#leftmenus2").data("last", "block");
                $('a#n-logo2').addClass('apply');
            }
        } else {
            $("#leftmenus2" ).removeClass('active');
            $("#leftmenus2").data("last", "none");
            $('a#n-logo2').removeClass('apply');
        }
    })
});
 
	
/**************************************************/
/**************** inventory  circle Hover page **********/
/**************************************************/
//$(function(){
//    $(".servicebox1, #reportmenulink, #favorites-unfavorites").hover(function(){
//      $(this).find(".regionhover, span.ttd").fadeIn('1000');
//    },function(){
//     $(this).find(".regionhover, span.ttd").fadeOut('1000');
//    }
//   );        
//});

$(function(){
    $(".servicebox1").hover(function(){
      //$(this).find(".regionhover").fadeIn('1000');
						$(this).find(".regionhover").addClass('active');
    },function(){
     //$(this).find(".regionhover").fadeOut('1000');
					$(this).find(".regionhover").removeClass('active');
    }
   );        
});
</script>

<!--**************************************************-->
<!--**************** All Form Material Js **********-->
<!--**************************************************-->

<script type="text/javascript" src="/../javascripts/input-material.js"></script> 
<script type="text/javascript">jQuery.material.init();</script>
<!--<link href="/../stylesheets/input-material.css" rel="stylesheet">-->

