<ul class="submenus">
<li class="sidebar_user inv_reports">
<a href="/reports" >Inventory Reports</a>
</li>
<li class="sidebar_user ca_reports">
<a href="/careports" >Cost Reports</a>
</li>
</ul>
