<ul class="submenus">
<% if(owner_id==user_id) { %>
<li class="sidebar_user">
<a href="/Users" >Team </a>
</li>
<% } %>

<li class="sidebar_billing">
<a href="javascript:void(0)">Billing <i class="menu_icon"></i></a>

<ul class="sublinemenu">
<li class="sidebar_changepassword">
<a href="/plans" >Plans</a>
<a href="/billinghistory" >Billing History</a>
<a href="/paymentmethod" >Payment Method</a>
<a href="/selftuning" >SelfTuning</a>
</li>
</ul>

</li>

<li class="sidebar_awsaccounts">
<a href="/awsaccounts" >AWS Accounts</a>
</li>
<li class="sidebar_budgetalerts">
<a href="/budgetalerts" >Budget Alerts</a>
</li>
<li class="sidebar_tagmap">
<a href="/tagmap" >Tag Map</a>
</li>
<li class="sidebar_schedulereports">
<a href="/schedulereports" >Schedule Reports</a>
</li>
<li class="sidebar_profile dropdown">
<a class="dropdown-toggle" href="/profile" >Profile <i class="menu_icon"></i></a>

<ul class="sublinemenu">
<li class="sidebar_changepassword">
<a href="/changepassword" >Change Password</a>
</li>
</ul>

</li>

</ul>


