<!--<ul class="nav navbar-nav">
    <li><a href="/admin/dashboard" >Dashboard</a></li>
    <li><a href="/admin/promocode" >Promo Code</a></li>
    <li><a href="/admin/customers" >Customers</a></li>
    <li><a href="/admin/logs" >Logs</a></li>
    <li><a href="/admin/supportboard" >Support Board</a></li>
    <li><a href="/admin/billinghistory" >Billing History</a></li>
    <li><a href="/admin/logout" >Logout</a></ul>
</ul>
-->

<ul class="nav navbar-nav navbar-right">
  <li class="dropdown loginuser"> <a href="javascript:void(0)" class="dropdown-toggle usermenu" data-toggle="dropdown">
    <div class="usericon"> <!--<span class="profilename">Name</span>--> <img src="/uploads/profilepic/1482485947160_30.png" /> </div>
    <!--<i class="menu_icon"></i>--> </a>
    <ul class="dropdown-menu">
      <!--<li><a href="/admin/dashboard" >Dashboard</a></li>-->
      <li><a href="/admin/promocode" >Promo Code</a></li>
      <li><a href="/admin/customers" >Customers</a></li>
      <li><a href="/admin/logs" >Logs</a></li>
      <li><a href="/admin/supportboard" >Support Board</a></li>
      <li><a href="/admin/supportboard/list" >Support List</a></li>
      <li><a href="/admin/user/list" >Manage User </a></li>
      <li><a href="/admin/billinghistory" >Billing History</a></li>
      <li><a href="/admin/user/changepassword" > Change Password </a></li>
      <li><a href="/admin/add_pages" > Add Pages </a></li>
      <li><a href="/admin/view_roles" > Role Permission </a></li>
      <li><a href="/admin/logout" >Logout</a>
    </ul>
</li>
</ul>

