<ul class="nav nav-tabs" id="welcome-menu">
  <li class="active"><a href="#awsprogrammatic" data-toggle="tab" data-step="1" id="step1li"><span>1</span> <div class="cl"></div>AWS Programmatic Billing</a></li>
  <li><a href="#awsaccess" data-toggle="tab" data-step="2" id="step2li"><span>2</span> <div class="cl"></div>AWS Access</a></li>
  <li><a href="#inputawscredentials" data-toggle="tab" data-step="3" id="step3li"><span>3</span> <div class="cl"></div>Input AWS Credentials</a></li>
</ul>


                           