


body{ overflow-x:hidden; margin:0; padding:0; font-size:16px;font-family: 'Lato', sans-serif; background:#fff}
a{-webkit-transition:all 0.5s ease;transition:all 0.5s ease;outline:none;text-decoration:none;}
#wapper {width: 100%;margin: 0;	padding: 0;	float: left;}
#wapper .col-md-12 .form-dark {	max-width: 500px;	width: 100%; margin:100px auto 0px auto;	padding: 0;}

/****** Home page css *************/
.homepage .form-dark, .loginpage .form-dark h1{ text-align: center; }
.loginpage {background:url(../images/background.jpg) no-repeat left top / cover;}
.loginpage .form-dark, .loginpage .card-image, loginpage .text-white {background:#000;}
.loginpage .md-form {padding:0px 0px 0px 0px}
.loginpage .md-form label {display:none;}
.loginpage .md-form input {border:1px solid #8f8f8f; font-size:15px; color:#fff; opacity:1; border-radius:7px; margin:0px !important; padding:6px 0px 6px 53px; width:86%;}
.loginpage .md-form i.fa {font-size: 20px; margin:14px 0 0 13px;}
.loginpage .center-text{text-align: center;  color: #fff;}
.loginpage .center-text a{color: #dc478b;}
.loginpage #wapper .col-md-12 .form-dark { margin-top: 50px; }
/*.loginpage .text-white {border-radius:50px 10px 30px 10px; -webkit-border-radius:50px 10px 30px 10px; -moz-border-radius:50px 10px 30px 10px; -ms-border-radius:50px 10px 30px 10px; -o-border-radius:50px 10px 30px 10px; box-shadow:0px 0px 17px #000; -webkit-box-shadow:0px 0px 17px #000; -moz-box-shadow:0px 0px 17px #000; -ms-box-shadow:0px 0px 17px #000; -o-box-shadow:0px 0px 17px #000;}*/

.btn-success {background:#dc478b; box-shadow:none;}
.btn-success:hover, .btn-success:focus {background:#c32e72 !important; box-shadow:none !important}
.checkbox{ position:relative;}
.checkbox input[type="checkbox"]{ opacity:0;}
.checkbox .white-text{ padding:0 0 0 30px; cursor:pointer;}
.form-dark .align-items-center button.btn-success{ font-size:18px;}

/**** input box css **************/
.md-form .form-control{ padding:5px 0;}
.md-form i.fa{ font-size:20px; margin:15px 0 0 0;}
.md-form i.fa.fa-lock{ font-size:25px;}
.md-form .prefix{ width:auto;}
.md-form .prefix ~ input, .md-form .prefix ~ textarea { margin-left: 30px;}
.md-form .prefix ~ label { margin-left: 30px;}
.md-form i.fa.active{ color:#fff;}

.form-dark .font-small {	font-size: 0.8rem;}
.form-dark [type="radio"] + label, .form-dark [type="checkbox"] + label {	font-size: 0.8rem;}
.form-dark [type="checkbox"] + label:before {	top: 2px;	width: 15px;	height: 15px;}
.form-dark .md-form label {	color: #fff;}
.form-dark input[type=text]:focus:not([readonly]) {	border-bottom: 1px solid #3cecec;	-webkit-box-shadow: 0 1px 0 0 #3cecec;	box-shadow: 0 1px 0 0 #3cecec;}
.form-dark input[type=text]:focus:not([readonly]) + label {	color: #fff;}
.form-dark input[type=password]:focus:not([readonly]) {	border-bottom: 1px solid #3cecec;	-webkit-box-shadow: 0 1px 0 0 #3cecec;	box-shadow: 0 1px 0 0 #3cecec;}
.form-dark input[type=password]:focus:not([readonly]) + label {	color: #fff;}
.form-dark input[type="checkbox"] + label:before {	content: '';	position: absolute;	top: 0;	left: 0;	width: 17px;	height: 17px;	z-index: 0;	border: 1.5px solid #fff;
	border-radius: 1px;	margin-top: 2px;	-webkit-transition: 0.2s;	transition: 0.2s;}
.form-dark input[type="checkbox"]:checked + label:before {	top: -4px;	left: -3px;	width: 12px;	height: 22px;	border-style: solid;	border-width: 2px;	border-color: transparent #3cecec #3cecec transparent;	-webkit-transform: rotate(40deg);	-ms-transform: rotate(40deg);	transform: rotate(40deg);	-webkit-backface-visibility: hidden;	-webkit-transform-origin: 100% 100%;	-ms-transform-origin: 100% 100%;	transform-origin: 100% 100%;}

/**************** massages alert css ************/
.alert { border: 1px solid transparent; border-radius: 50px 0 0 50px; bottom: 0; margin-bottom: 1rem;
    min-width: 300px;    padding: 0.75rem 1.25rem;    position: fixed;    right: 0;}

/*.container {padding-top:50px;}*/
  
/****************** Header menu *****************/*
.hmenu {
    display: inline-block;
    list-style: outside none none;
    margin:0px 0 0 0;
    padding: 0;
    width: 100%;
}

 .hmenu li{
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width:auto;
}               

.hmenu li a.btn{
   float: left;
    margin: 0;
    padding:8px 25px;
    width:auto;
    color: #fff;
    background: #dc478b;
    border-radius:3px; 
    font-weight: bold;
    font-size: 16px;
    text-transform: inherit;
	box-shadow:none !important

}
.hmenu li a.btn:hover{ background:#c32e72 !important; box-shadow:none !important}

/*New CSS*/
header {width:100%; height:auto; margin:0px; padding:0px 0px; background:#000; float:left;border-bottom:1px solid #fff;}
header .logo {width:100%; height:auto; margin:0px; padding:0px; float:left;}
header .logo img {width:35%; float:left; margin:0px; padding:0px; float:left;}
.main {width:100%; height:auto; margin:0px; padding:0px 0px; float:left;}
.back {width:100%; height:auto; margin:0px; padding:0px; background:#000; float:left;}
.table-box {width:100%; height:auto; margin:0px; padding:0px; float:left;}
.page-header {width:100%; height:100vh; float:left; margin:0px; padding:0px;}
.page-header ul {width:100%; height:auto; float:left; margin:0px; padding:0px;}
.page-header ul li {width:100%; height:auto; float:left; margin:0px; padding:10px 0px 10px 10px; border-top:1px solid #fff; text-align:left;}
.page-header ul li:first-child {border:none;}
.page-header ul li a {font-size:16px; text-align:left; color:#fff; margin:0px; padding:0px;width:100%;float:left;}
.page-header ul li a i {float:left; margin-right:10px; margin-top:4px; line-height:19px}
.page-header ul li a em {float:right; margin-right:15px; margin-top:6px}
.page-header ul li.active {background:#dc478b; }
.top_header {width:100%; float:left; margin:0px; border-bottom:1px solid #333; padding:10px 0px;}
.common_button {border:none; cursor: pointer; font-size:16px; margin:0; padding: 10px; transition: all 0.2s ease-out 0s; white-space: normal;  background: #dc478b; box-shadow: none; color:#fff; display:inline-block}
.common_button:hover, .common_button:focus {background:#C32E72; color:#fff;}
.common_button i {margin-right:10px}
.rgba-stylish-strong {background:#000 !important}
.usercreatepage .top_header {border:none;}
.breadcrumb {width:100%; height:auto; margin:0px; padding:0px; padding-bottom: 1rem;  border:none; background:none; border-radius:0px; border-bottom:1px none #ddd;}
.breadcrumb li a {color:#000;}
.breadcrumb li.breadcrumb-item {color:#DD518B;}
.main_cms, .create_cms{width:100%; height:auto; margin:0px; padding:0px; float:left;}
.create_cms .form-control {border:none; border-bottom:1px solid #ddd !important; margin:0px; padding:0px 10px; width:97%}
.create_cms select.form-control {border:none; border-bottom:1px solid #ddd !important;  margin:0px; padding:0px 10px; appearance:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; position:relative; background:url(../images/arrow_down.png) no-repeat right 14px; outline:none; width:100%}
.create_cms select.form-control:focus {border-bottom:1px solid #4285f4; box-shadow:0 1px 0 0 #4285f4; outline:none;}
focus, hover {outline:none;}
.create_cms {padding-top:20px;}
.create_cms textarea.form-control {width:100%;}
.btn {background:#dc478b !important; font-size:18px; text-align:center; padding:10px 30px; opacity:1}
.btn:hover {background:#C32E72 !important; font-size:18px; text-align:center; padding:10px 30px;}
.btn.disabled {margin-top:30px !important; margin:0px; }
.pagination {width:100%; height:auto; margin:20px 0px 40px; padding:0px; float:left;}
.pagination li {float:left; margin:0px 3px; padding:3px 10px; border:1px solid #000; font-size:15px; text-align:center; color:#333;}
.pagination li:first-child {margin-left:0px;}
.pagination li a { font-size:15px; text-align:center; color:#000;}
.pagination li.active {background:#C32E72; color:#fff; border:1px solid #C32E72}
.ic_login, .ic_login:hover {background:url(../images/ic_email.png) no-repeat left 20px !important; margin-right:10px; float:left; padding:7px 0px 7px 46px; width:89% !important}
.ic_pass, .ic_pass:hover {background:url(../images/ic_password.png) no-repeat left 10px !important; margin-right:10px; float:left; padding:7px 0px 7px 46px; width:89% !important}
.has-error.has-danger .form-control {border-bottom:1px solid #F00 !important}



.tags .bootstrap-tagsinput {
    background-color: #fff;
    border-bottom: 1px solid #ccc !important;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    color: #555;
    vertical-align: middle;
    border-radius: 0;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    width: 100%;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
}
.tags .bootstrap-tagsinput.focus {border-bottom: 1px solid #4285f4 !important;}
.tags.has-error.has-danger {border-bottom:1px solid #F00 !important}
.tags .bootstrap-tagsinput.focus input:focus {border: none !important; box-shadow: none;}
.tags .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #333;
    padding: 3px 5px;
    border-radius: 3px;
}
.help-block.with-errors {color: #F00 !important}
.datetimepicker{
    width: 16%;
    position: fixed;
}

.datetimepicker-days table tr td,.datetimepicker td{
width: 30px;
}
.datetimepicker-minutes table tr td
{
    width: 20px;
}