<html>

<head>
    <link rel="shortcut icon" href='/images/favicon.png' type="image/x-con" />
    <title>
        <%= CMS.title %>
    </title>
</head>

<body style="padding:0px; margin:0px; background:#fff;">
    <header>
        <div class="main-header" style="background-color: #000; text-align: center;">
            <img id="main-logo" src="/images/boozer_logo.png" />
        </div>
    </header>
    <section style="margin: 15px 0; font-size: 16px; padding: 20px;">
            <h3><%= CMS.title %></h3>
            <div class="main-content"><%- CMS.content %></div>
    </section>
    <footer>
        <div class="main-footer" style="background-color: #eee; color: #000; text-align: center; font-size: 14px; padding: 15px;">
            &copy; Copyright
            <%= new Date().getFullYear(); %>
        </div>
    </footer>
</body>

</html>
